<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <link type="text/css" rel="stylesheet" href="/css/adminMain.css">
    <!-- 자바스크립트 -->
    <script type="text/javascript" src="/js/common.js"></script> 

    <title>다나은 관리자|계정관리</title>
</head>	
<body>
 <div th:replace="fragments/adminMenu.html :: fragment-nav(currnet='6')"></div>
            <!-- 내용 부분 : admincontent-main 안에 작성 -->
            <div class="admincontent-main">
                <div class="sort1">
                    <h3>관리자계정 관리</h3>
                </div>
                <div class="btn-area">
                    <button class="btn-ab" onclick="">+&nbsp;&nbsp;관리자계정 추가</button>
                </div>
                <div class="list-tbl">
                    <table class="tblstyle">
                        <colgroup>
                            <col width="5%">
                            <col width="10%">
                            <col width="15%">
                            <col width="10%">
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>등급</th>
                                <th>관리자 아이디</th>
                                <th>관리자 이름</th>
                                <th>전화번호</th>
                                <th>등록일</th>
                                <th colspan="2">관리</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="colored">
                                <td>1</td>
                                <td>서브관리자</td>
                                <td>admin</td>
                                <td>우별림</td>
                                <td>010-1212-939</td>
                                <td>2021.06.23 15:50:22</td>
                                <td><a href="#">수정하기</a>&nbsp;&nbsp;&nbsp;<a href="#" class="deleteele">삭제하기</a></td>
                            </tr>
                            <tr class="colored">
                                <td>1</td>
                                <td>서브관리자</td>
                                <td>admin</td>
                                <td>우별림</td>
                                <td>010-1212-939</td>
                                <td>2021.06.23 15:50:22</td>
                                <td><a href="#">수정하기</a>&nbsp;&nbsp;&nbsp;<a href="#" class="deleteele">삭제하기</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="paging pagingarea">
                    <span class="first"><a href="#"><span class="blind"></span></a></span>
                    <span class="prev"><a href="#"><span class="blind"></span></a></span>
                    <a href="#">1</a>
                    <span class="current">2</span>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <span class="next"><a href="#"><span class="blind"></span></a></span>
                    <span class="last"><a href="#"><span class="blind"></span></a></span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>