<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <link type="text/css" rel="stylesheet" href="/css/adminMain.css">
    <!-- 자바스크립트 -->
    <script type="text/javascript" src="/js/common.js"></script> 

    <title>다나은 관리자|계정관리</title>
</head>
<body>
 <div th:replace="fragments/adminMenu.html :: fragment-nav(currnet='5')"></div>
            <!-- 내용 부분 : admincontent-main 안에 작성 -->
            <div class="admincontent-main">
                <h3 class="pagetitle">관리자 계정 수정</h3>
                <form action="" method="" class="formstyle">
                    <div class="content-wrap">
                        <div class="text-area">
                            <h4>아이디</h4>
                            <input type="text" class="disabled" name="id" id="userId" th:value="${admin.id}" readonly>
                        </div>
                        <div class="text-area">
                            <h4>이름</h4>
                            <input type="text" name="name" id="userName" th:value="${admin.name}">
                        </div>
                        <div class="text-area">
                            <h4>전화번호</h4>
                            <input type="text" name="phone" id="phone" th:value="${admin.phone}">
                        </div>
                         <div class="text-area">
                            <h4>이메일</h4>
                            <input type="text" name="phone" id="phone" th:value="${admin.email}">
                        </div>
                        <div class="text-area">
                            <h4>등급</h4>
                            <select name="memberRoleList[0].authorityCode" th:value="${#lists.size(admin.memberRoleList)}">
                                <option value="3" th:selected="${#lists.size(admin.memberRoleList) == 3}">총관리자</option>
                                <option value="2" th:selected="${#lists.size(admin.memberRoleList) == 2}">서브관리자</option>
                            </select>    
                        </div>
                        <!-- 유효성 검사 후 버튼 활성화 : btn-b , 비활성화 : btn-disabled -->
                        <div class="btnarea">
                            <button class="btn-b">수정</button>
                            <button class="btn-c btns" type="button" onclick="">취소</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>