<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <link type="text/css" rel="stylesheet" href="/css/adminMain.css">
    <!-- 자바스크립트 -->
    <script type="text/javascript" src="/js/common.js"></script> 

    <title>다나은 관리자|문의관리</title>
</head>	
<body>
 <div th:replace="fragments/adminMenu.html :: fragment-nav(currnet='3')"></div>
            <!-- 내용 부분 : admincontent-main 안에 작성 -->
            <div class="admincontent-main">
                <h3 class="pagetitle">문의 정보 관리</h3>
                <form action="" method="" class="">
                    <table class="tblstyle2">
                        <colgroup>
                            <col width="20%">
                            <col width="80%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>문의 종류</th>
                                <td>
                                    <select th:value="${question.categoryNo}" name="categoryNo" disabled>
                                        <option value="10" th:selected="${question.categoryNo} == '10'">일반문의</option>
                                        <option value="20" th:selected="${question.categoryNo} == '20'">예약문의</option>
                                        <option value="30" th:selected="${question.categoryNo} == '30'">기타문의</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>작성자 아이디</th>
                                <td>
                                    <input type="text" name="userId" th:value="${question.userId}" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th>작성자 이름</th>
                                <td>
                                    <input type="text" name="userName" th:value="${question.userName}" readonly>
                                </td>
                            </tr>
                            <tr>                            
                                <th>작성일</th>
                                <td>
                                    <input type="text" name="createDate" th:value="${#dates.format(question.createDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                                </td>
                            </tr>
                            <tr>                            
                                <th>문의 제목</th>
                                <td>
                                    <input type="text" class="iptstyle" name="QTitle" th:value="${question.QTitle}" readonly>
                                </td>
                            </tr>                            
                            <tr>
                                <th>문의 내용</th>
                                <td>
                                    <textarea class="textarea-stl" name="Qcontent" th:text="${question.QContent}" readonly></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>답변 여부</th>
                                <td>
                                    <input type="text" th:if="${question.answer.ANo == 0 || question.answer.status == 'Y'}" class="unresolved" value="미답변" readonly>
                                    <input type="text" th:unless="${question.answer.ANo == 0 || question.answer.status == 'Y'}" value="답변완료" readonly>
                                </td>
                            </tr>
                            <th:block th:if="${question.answer.ANo != 0 && question.answer.status == 'N'}">
                            <tr>
                                <th>답변 내용</th>
                                <td>
                                    <textarea class="textarea-stl" name="answer.AContent" th:text="${question.answer.AContent}" readonly></textarea>      
                                </td>
                            </tr> 
                            <tr>                            
                                <th>답변 작성일</th>
                                <td>
                                    <input type="text" name="answer.createDate" th:value="${#dates.format(question.answer.createDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                                </td>
                            </tr>                            
                            </th:block>                           
                        </tbody>
                    </table>

                    <div class="btnarea2">
                        <button class="btn-b" type="button" th:onclick="'location.href=\'' + @{/qaBoard(QNo=${question.QNo})} + '\';'">문의글로 이동</button>
                        <button class="btn-c btns" type="button" th:onclick="|javascript:questionDelete('${question.QNo}','${question.answer.ANo}')|">문의글 삭제</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
    	// 매개변수로 해당 장비번호 전달
    	function questionDelete(QNo, ANo){
    		if(confirm("해당 문의내역을 삭제하시겠습니까?")){
    			location.href="/admin/cs/delete?QNo=" + QNo + "&ANo=" + ANo;
    		}
    	}
    </script>       

</body>
</html>