<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <link type="text/css" rel="stylesheet" href="/css/adminMain.css">
    <!-- 자바스크립트 -->
    <script type="text/javascript" src="/js/common.js"></script> 
    <!-- chart.js cdn -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.js" integrity="sha512-uLlukEfSLB7gWRBvzpDnLGvzNUluF19IDEdUoyGAtaO0MVSBsQ+g3qhLRL3GTVoEzKpc24rVT6X1Pr5fmsShBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>다나은 관리자페이지</title>
</head>	
<body>
 <div th:replace="fragments/adminMenu.html"></div>
            <!-- 내용 부분 : admincontent-main 안에 작성 -->
            <div class="admincontent-main">
                <div class="manageinfo-wrap">
                    <div class="manageinfo">
                        <h3>회원 현황</h3>
                        <div class="managedata">
                            <ul class="datalist">
                                <li><span>신규 회원</span><span id="newmember"></span><span>명</span></li>
                                <li><span>탈퇴 회원</span><span id="secessionmember"></span><span>명</span></li>
                                <li><span>총 회원수</span><span id="totalmember"></span><span>명</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="manageinfo mi1">
                        <h3>오늘 예약 현황</h3>
                        <div class="managedata">
                            <ul class="datalist">
                                <li><span>내과</span><span id="internal"></span><span>건</span></li>
                                <li><span>외과</span><span id="surgery"></span><span>건</span></li>
                                <li><span>안과</span><span id="ophthalmology"></span><span>건</span></li>
                                <li><span>정형외과</span><span id="orthopedics"></span><span>건</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="manageinfo">
                        <h3>문의 현황</h3>
                        <div class="managedata">
                            <ul class="datalist">
                                <li><span>새 문의</span><span id="newquestion"></span><span>건</span></li>
                                <li><span>답변 대기</span><span id="noanswer">111</span><span>건</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
<!--                 <div class="visitinfo"></div> -->
	            <canvas id="canvas"></canvas>
            </div>
        </div>
    </div>
    
    <script>
	    const message = '[[${adminMessage}]]';
		if(message){
			alert(message);
		}
		// 현황 개수 조회
		$(function(){
			$.ajax({
				url : "/admin/dashboard",
				type : "get",
				dataType : "json",
				success : function(data){
					console.log(data);
					// 회원현황
					$('#newmember').text(data.newMemberCnt);
					$('#secessionmember').text(data.secessionCnt);
					$('#totalmember').text(data.totalMemberCnt);
					// 예약현황
					$('#internal').text(data.internalCnt);
					$('#surgery').text(data.surgeryCnt);
					$('#ophthalmology').text(data.ophthalCnt);
					$('#orthopedics').text(data.orthoCnt);
					// 문의현황
					$('#newquestion').text(data.newCSCnt);
					$('#noanswer').text(data.noAnswerCnt);
				},
				error : function(e){
					console.log(e);
				}				
				
			});
		});
		
    </script>
    
    <script>
    	/* 방문자수 그래프 */ 
    	// 캔버스 가져오기
	    const canvas = document.getElementById('canvas');
    	// 캔버스 context 등록
	    const ctx = canvas.getContext('2d');
		// 차트 작성하기
	    const barChart = new Chart(ctx, {
	    	type: "line",
	    	data: {
	    		labels: ["1/12", "1/13", "1/14", "1/15", "1/16"],
	    		datasets: [
	    			{
	    				label: "방문 통계 현황",
	    				data: [10, 5, 20, 14, 3],
	    				backgroundColor: [
	    					"#85B1D6"
	    				],
	    				/* barThickness: 30, */
	    				borderColor: "#85B1D6",
	    			}
	    		],
	    	},
	    	options: {
	    		scales: {
	    			yAxes: [
	    				{
		    				ticks: {
		    					/* y축 0부터 시작 */
		    					beginAtZero: true,
		    					/* y축 간격 */
								stepSize: 1,
								/* y축 최소값 */
								suggestedMin: 0
		    				}
	    				}
	    			]   			
	    		}
	    	}
	    });
		
		$.ajax({
			url: "/admin/visitCount",
			type: "get",
			dataType: "json",
			success: function(data){
				console.log(data);
				barChart.data.labels = [data[4].visitDate, data[3].visitDate, data[2].visitDate, data[1].visitDate, data[0].visitDate];
				barChart.data.datasets[0].data = [data[4].visitCount, data[3].visitCount, data[2].visitCount, data[1].visitCount, data[0].visitCount];
				barChart.update();	  
			},
			error: function(e){
				console.log(e);
			}
		});
		
	    // 동적 차트 작성하기
/* 	    barChart.data.labels = [1, 2, 3, 4, 5];
	    barChart.data.datasets[0].data = [1, 2, 3, 4, 5];
	    barChart.update();	   */
	    
    </script>
</body>
</html>