<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <link type="text/css" rel="stylesheet" href="/css/adminMain.css">
    <!-- 자바스크립트 -->
    <script type="text/javascript" src="/js/common.js"></script> 
    <script type="text/javascript" src="/js/nh.js"></script> 

    <title>다나은 관리자|병원관리</title>
</head>	
<body>
 <div th:replace="fragments/adminMenu.html :: fragment-nav(currnet='4-2')"></div>
            <!-- 내용 부분 : admincontent-main 안에 작성 -->
            <div class="admincontent-main">
                <h3 class="pagetitle">의료 장비 관리</h3>
                <table class="tblstyle2">
                    <colgroup>
                        <col width="20%">
                        <col width="80%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>구분</th>
                            <td>
                                <select th:value="${device.categoryCode}" name="categoryCode" disabled>
                                    <option value="1" th:selected="${device.categoryCode} == '1'">내과</option>
                                    <option value="2" th:selected="${device.categoryCode} == '2'">외과</option>
                                    <option value="3" th:selected="${device.categoryCode} == '3'">안과</option>
                                    <option value="4" th:selected="${device.categoryCode} == '4'">정형외과</option>
                                    <option value="5" th:selected="${device.categoryCode} == '5'">영상장비</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>장비 사진</th>
                            <td>
                                <div class="dfile"><img th:src="@{${device.mdeviceFile.dfilePath}}+${device.mdeviceFile.dchangeName}"></div>
                            </td>
                        </tr>
                        <tr>
                            <th>장비명</th>
                            <td>
                                <input type="text" name="deviceName" class="iptstyle" th:value="${device.deviceName}" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>모델명</th>
                            <td>
                                <input type="text" name="deviceModel" class="iptstyle" th:value="${device.deviceModel}" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>장비 설명</th>
                            <td>
                                <textarea class="textarea-stl" name="deviceContent" readonly th:text="${device.deviceContent}"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>등록일</th>
                            <td>
                                <input type="text" class="disabled" th:value="${#dates.format(device.createDate, 'yyyy-MM-dd HH:mm:ss')}">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="btnarea2">
                    <button class="btn-b" type="button" th:onclick="'location.href=\'' + @{/admin/hospital/modifyDevice/{deviceNo}(deviceNo=${device.deviceNo})} + '\';'">장비 정보 수정</button>
                    <button class="btn-c btns" type="button" th:onclick="|javascript:deviceDelete('${device.deviceNo}')|">장비 삭제</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
    	// 매개변수로 해당 장비번호 전달
    	function deviceDelete(deviceNo){
    		if(confirm("해당 장비를 삭제하시겠습니까?")){
    			location.href="/admin/hospital/deleteDevice/" + deviceNo;
    		}
    	}
    </script>

</body>
</html>