<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <link type="text/css" rel="stylesheet" href="/css/adminMain.css">
    <!-- 자바스크립트 -->
    <script type="text/javascript" src="/js/common.js"></script> 
    <script type="text/javascript" src="/js/nh.js"></script> 

    <title>다나은 관리자|병원관리</title>
</head>	
<body>
 <div th:replace="fragments/adminMenu.html :: fragment-nav(currnet='4-1')"></div>
            <!-- 내용 부분 : admincontent-main 안에 작성 -->
            <div class="admincontent-main">
                <h3 class="pagetitle">의료 장비 수정</h3>
                <form th:action="@{/admin/hospital/modifyDevice}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="deviceNo" th:value="${device.deviceNo}">
                <input type="hidden" name="originFileName" th:value="${device.mdeviceFile.dchangeName}">
                
                    <table class="tblstyle2">
                        <colgroup>
                            <col width="20%">
                            <col width="80%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>구분</th>
                                <td>
                                    <select th:value="${device.categoryCode}" name="categoryCode">
                                        <option value="1" th:selected="${device.categoryCode} == '1'">내과</option>
	                                    <option value="2" th:selected="${device.categoryCode} == '2'">외과</option>
	                                    <option value="3" th:selected="${device.categoryCode} == '3'">안과</option>
	                                    <option value="4" th:selected="${device.categoryCode} == '4'">정형외과</option>
	                                    <option value="5" th:selected="${device.categoryCode} == '5'">영상장비</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>장비 사진</th>
                                <td class="tdstyle">
                                    <div class="dfile"><img th:src="@{${device.mdeviceFile.dfilePath}}+${device.mdeviceFile.dchangeName}"></div>
                                    <input type="file" name="deviceFile" class="mdevice-upload" id="mdevice-img">
                                </td>
                            </tr>
                            <tr>
                                <th>장비명</th>
                                <td>
                                    <input type="text" name="deviceName" th:value="${device.deviceName}">
                                </td>
                            </tr>
                            <tr>
                                <th>모델명</th>
                                <td>
                                    <input type="text" name="deviceModel" th:value="${device.deviceModel}">
                                </td>
                            </tr>
                            <tr>
                                <th>장비 설명</th>
                                <td>
                                    <textarea class="textarea-stl" name="deviceContent" th:text="${device.deviceContent}"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- 유효성 검사 후 버튼 활성화 : btn-b , 비활성화 : btn-disabled -->
                    <div class="btnarea2">
                        <button class="btn-b">수정</button>
                        <button class="btn-c btns" type="button" onclick="">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>