<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <link type="text/css" rel="stylesheet" href="/css/adminMain.css">
    <!-- 자바스크립트 -->
    <script type="text/javascript" src="/js/common.js"></script> 
    <script type="text/javascript" src="/js/nh.js"></script> 

    <title>다나은 관리자|예약관리</title>
</head>
<body>
 <div th:replace="fragments/adminMenu.html :: fragment-nav(currnet='2')"></div>
            <!-- 내용 부분 : admincontent-main 안에 작성 -->
            <div class="admincontent-main">
                <div class="conditionarea">
                    <div class="sortarea">
                        <div class="sort1">
                            <h3>진료 과목별로 보기</h3>
                            <input type="radio" id="radioSort" name="reserveCategory" value="1" th:checked="${sort == 1}">
                            <label>내과</label>
                            <input type="radio" id="radioSort" name="reserveCategory" value="2" th:checked="${sort == 2}">
                            <label>외과</label>
                            <input type="radio" id="radioSort" name="reserveCategory" value="3" th:checked="${sort == 3}">
                            <label>안과</label>
                            <input type="radio" id="radioSort" name="reserveCategory" value="4" th:checked="${sort == 4}">
                            <label>정형외과</label>
                        </div>
                        <div class="sort1">
                            <h3>오늘 날짜 보기</h3>
                            <input type="radio" id="radioSort" name="reserveCategory" value="5" th:checked="${sort == 5}">
                            <label>예약시간순</label>
                            <input type="radio" id="radioSort" name="reserveCategory" value="6" th:checked="${sort == 6}">
                            <label>진료과목순</label>
                        </div>
                    </div>
                    <form th:action="@{/admin/reservation/list}" method="get" class="searcharea">
                    <div class="searcharea">
                        <select class="selecttype" name="searchCategory" th:value="${search.searchCategory}">
                            <option value="1" class="opt" th:selected="${search.searchCategory} == '1'">예약자 이름</option>
                            <option value="2" class="opt" th:selected="${search.searchCategory} == '2'">반려견 이름</option>
                            <option value="3" class="opt" th:selected="${search.searchCategory} == '3'">예약상태</option>
                        </select>
                        <div class="listTotal">
                            <p class="totalCnt" th:text="총 + ' ' + ${pagination.totalListCount} + ' ' + 건"></p>
                            <div class="sortArea">
                                <div class="inp_text search">
                                    <input type="text" name="searchKeyword" class="searchvalue" placeholder="검색어를 입력하세요"
                                           th:value="${search.searchKeyword}">
                                    <button class="btn-a" id="searchBtn">검색</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="list-tbl">
                    <table class="tblstyle">
                        <colgroup>
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="20%">
                            <col width="10%">
                            <col width="20%">
                            <col width="10%">
                            <col width="10%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>진료과목</th>
                                <th>예약자 이름</th>
                                <th>전화번호</th>
                                <th>반려견 이름</th>
                                <th>예약일</th>
                                <th>예약상태</th>
                                <th>관리</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="res, i : ${reservationList}" class="colored">
                                <td th:text="${search.startRow + i.index+1 - 1}"></td>
                                <th:block th:switch="${res.tNo}">
                                	<td th:case="1">내과</td>	
                                	<td th:case="2">외과</td>
                                	<td th:case="3">안과</td>
                                	<td th:case="4">정형외과</td>                           	
	                            </th:block>
                                <td th:text="${res.userName}"></td>
                                <td th:text="${res.phone}"></td>
                                <td th:text="${res.dog.name}"></td>
                                <td th:text="${#dates.format(res.reservationDate, 'yyyy-MM-dd')} + '  ' + ${res.reservationTime}"></td>
                                <td th:text="${res.reservationStatus}"></td>
                                <td><a th:href="@{/admin/reservation/detail(no=${res.reservationNo})}">상세보기</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="paging pagingarea" th:with="cate=${search.searchCategory}, val=${search.searchKeyword}">
                	<!-- 첫 페이지로 이동 -->
                    <span class="first"><a th:href="@{/admin/reservation/list(page=1, sort=${sort}, searchCategory=${cate}, searchKeyword=${val})}"><span class="blind"></span></a></span>
                    <!-- 이전 페이지로 이동 -->
                    <span th:if="${pagination.page > 1}" class="prev"><a th:href="@{/admin/reservation/list(page=${pagination.page-1}, sort=${sort}, searchCategory=${cate}, searchKeyword=${val})}"><span class="blind"></span></a></span>
                    <span th:unless="${pagination.page > 1}" class="prev"><a href="#"><span class="blind"></span></a></span>
                    <!-- 페이지 넘버 -->
                     <th:block th:each="i : ${#numbers.sequence(pagination.startPage,pagination.endPage)}">
                   		<a th:if="${pagination.maxPage} != 0" th:text="${i}" th:classappend="${pagination.page == i} ? current" th:href="@{/admin/reservation/list(page=${i}, sort=${sort}, searchCategory=${cate}, searchKeyword=${val})}"></a>                    
                    </th:block> 
                    <!-- 다음 페이지로 이동 -->
                    <span th:if="${pagination.page < pagination.maxPage}" class="next"><a th:href="@{/admin/reservation/list(page=${pagination.page+1}, sort=${sort}, searchCategory=${cate}, searchKeyword=${val})}"><span class="blind"></span></a></span>
                    <span th:unless="${pagination.page < pagination.maxPage}" class="next"><a href="#"><span class="blind"></span></a></span> 
                    <!-- 마지막 페이지로 이동 -->
                    <span class="last"><a th:href="@{/admin/reservation/list(page=${pagination.maxPage}, sort=${sort}, searchCategory=${cate}, searchKeyword=${val})}"><span class="blind"></span></a></span>
                </div>
            </div>
        </div>
    </div> 

    <script>
    	const message = '[[${reservationResultMessage}]]';
    	if(message){
    		alert(message);
    	}
    	
    </script>
</body>
</html>