<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <link type="text/css" rel="stylesheet" href="/css/adminMain.css">
    <!-- 자바스크립트 -->
    <script type="text/javascript" src="/js/common.js"></script> 

    <title>다나은 관리자|예약관리</title>
</head>
<body>
 <div th:replace="fragments/adminMenu.html :: fragment-nav(currnet='2')"></div>
            <!-- 내용 부분 : admincontent-main 안에 작성 -->
            <div class="admincontent-main">
                <h3 class="pagetitle">예약 정보 관리</h3>
                <table class="tblstyle2">
                    <colgroup>
                        <col width="20%">
                        <col width="80%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>진료 과목</th>
                            <td>
                                <select th:value="${reservation.tNo}" name="tNo" disabled>
                                    <option value="1" th:selected="${reservation.tNo} == '1'">내과</option>
                                    <option value="2" th:selected="${reservation.tNo} == '2'">외과</option>
                                    <option value="3" th:selected="${reservation.tNo} == '3'">안과</option>
                                    <option value="4" th:selected="${reservation.tNo} == '4'">정형외과</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>담당 수의사</th>
                            <td>
                                <input type="text" name="vName" th:value="${reservation.vName}" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>예약일</th>
                            <td>
                                <input type="text" name="reservationDate" th:value="${reservation.reservationDate}" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>예약 시간</th>
                            <td>
                                <select th:value="${reservation.reservationTime}" name="reservationTime" disabled>
                                    <option value="10" th:selected="${reservation.reservationTime} == '10'">10:00</option>
                                    <option value="11" th:selected="${reservation.reservationTime} == '11'">11:00</option>
                                    <option value="12" th:selected="${reservation.reservationTime} == '12'">12:00</option>
                                    <option value="14" th:selected="${reservation.reservationTime} == '14'">14:00</option>
                                    <option value="15" th:selected="${reservation.reservationTime} == '15'">15:00</option>
                                    <option value="16" th:selected="${reservation.reservationTime} == '16'">16:00</option>
                                    <option value="17" th:selected="${reservation.reservationTime} == '17'">17:00</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>예약자 이름</th>
                            <td>
                                <input type="text" name="userName" th:value="${reservation.userName}" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>전화번호</th>
                            <td>
                                <input type="text" name="phone" th:value="${reservation.phone}" readonly> 
                            </td>
                        </tr>
                        <tr>
                            <th>반려견 이름</th>
                            <td>
                                <input type="text" name="dog.name" th:value="${reservation.dog.name}" readonly> 
                            </td>
                        </tr>
                        <tr>
                            <th>견종</th>
                            <td>
                                <input type="text" name="dog.breed" th:value="${reservation.dog.breed}" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>성별</th>
                            <td>
                                <select th:value="${reservation.dog.gender}" name="dog.gender" disabled>
                                    <option value="암컷" th:selected="${reservation.dog.gender} == '암컷'">암컷</option>
                                    <option value="수컷" th:selected="${reservation.dog.gender} == '수컷'">수컷</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>나이</th>
                            <td>
                                <input type="text" name="dog.age" th:value="${reservation.dog.age}" readonly> 
                            </td>
                        </tr>
                        <tr>
                            <th>증상 및 요청사항</th>
                            <td>
                                <textarea class="textarea-stl" name="symptom" readonly th:text="${reservation.symptom}"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <th>예약상태</th>
                            <td>
                                <select th:value="${reservation.reservationStatus}" name="reservationStatus" disabled>
                                    <option value="예약완료" th:selected="${reservation.reservationStatus} == '예약완료'">예약완료</option>
                                    <option value="예약취소" th:selected="${reservation.reservationStatus} == '예약취소'">예약취소</option>
                                    <option value="진료완료" th:selected="${reservation.reservationStatus} == '진료완료'">진료완료</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="btnarea2">
                    <button class="btn-b" type="button" th:onclick="'location.href=\'' + @{/admin/reservation/modify/{reservationNo}(reservationNo=${reservation.reservationNo})} + '\';'">예약정보 수정</button>
                    <button class="btn-c btns" type="button" th:onclick="|javascript:reservationDelete('${reservation.reservationNo}','${reservation.dogNo}')|">예약정보 삭제</button>
                </div>
            </div>
        </div>
    </div>

    <script>
    	// 매개변수로 해당 장비번호 전달
    	function reservationDelete(reservationNo, dogNo){
    		if(confirm("해당 예약내역을 삭제하시겠습니까?")){
    			location.href="/admin/reservation/delete?reservationNo=" + reservationNo + "&dogNo=" + dogNo;
    		}
    	}
    </script>    

</body>
</html>