<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <link type="text/css" rel="stylesheet" href="/css/adminMain.css">
    <!-- 효은 css -->
    <link type="text/css" rel="stylesheet" href="/css/he.css">
    <link type="text/css" rel="stylesheet" href="/css/adminSub.css">
    <!-- 공통 js -->
    <script type="text/javascript" src="/js/common.js"></script>
    <!-- 효은 js -->
    <script type="text/javascript" src="/js/he.js"></script>
    
    <title>다나은 동물병원|의료진 관리</title>
<script>
	const successMessage = '[[${ successMessage }]]';
	
	if(successMessage){
		alert(successMessage);
	}
</script>
</head>
<body>
    <!-- 관리자페이지 메뉴바 -->
    <div th:replace="fragments/adminMenu.html :: fragment-nav(currnet='4')"></div>

            <!-- 내용 부분 : admincontent-main 안에 작성 -->
            <div class="admincontent-main">
                <div class="manage_wrap">
                    <h3>의료진 관리</h3><br><br>
                    <div class="search_doctor">
                    <form id="searchV">
                        <input type="search" class="text_input_admin" placeholder="검색할 의료진의 이름을 입력하세요." name="vname">
                        <input type="button" id="type_btn" value="검색">
                    </form>
                    </div>
                    
                    <script>
                    	$(function(){
                    		$("#searchV input[type=button]").on('click', function(){
                    			let vname = $("#searchV [name=vname]").val();
                    			
                    			$.ajax({
                    				url : "/admin/sub_veterinarianModify/vname/" + vname,
                    				type : "get",
                    				dataType : "json",
                    				success : function(data){
                    					
                    					let name="";
                    					let treatment="";
                    					let profile="";
                    					let career="";
                    					let holiday="";
                    					let phone="";
                    					let vno="";
                    					
                    					for(let index in data){
                    						name += data[index].vname
                    					}
                    					$(".REcontent #vvname").html(name);
                    					
                    					for(let index in data){
                    						if(data[index].tno == '1'){
                    							treatment += '내과'
                    						} else if(data[index].tno == '2'){
                    							treatment += '외과'
                    						} else if(data[index].tno == '3'){
                    							treatment += '안과'
                    						} else if(data[index].tno == '4'){
                    							treatment += '정형외과'
                    						}
                    					}
                    					$(".REcontent #vtreatment").html(treatment);
                    					
                    					for(let index in data){
                    						profile += data[index].profile
                    					}
                    					$(".REcontent #vprofile").html(profile);
                    					
                    					for(let index in data){
                    						career += data[index].career
                    					}
                    					$(".REcontent #vcareer").html(career);
                    					
                    					for(let index in data){
                    						holiday += data[index].day.day
                    					}
                    					$(".REcontent #holi").val(holiday);
                    					
                    					for(let index in data){
                    						phone += data[index].phone
                    					}
                    					$(".REcontent #phone_input").val(phone);
                    					
                    					for(let index in data){
                    						vno += data[index].vno
                    					}
                    					$(".REcontent #vno").val(vno);
                    					
                    				},
                    				error : function(e){
                    					console.log(e);
                    				}
                    			});
                    		});
                    	});
                    </script>
                    
                    <div id="admin_line"></div><br>
                    <br>
                    <div class="vmodify">
                    <form th:action="@{/admin/sub_veterinarianModify}" method="post" enctype="multipart/form-data">
                    <div class="search_result">
                        <div class="REcontent">
                        <input type="hidden" name="vno" id="vno">			
                            의료진: <span id="vvname"></span><br><br>
                            진료 과목 : <span id="vtreatment"></span><br><br>
                            <div class="profile">약력 및 기본 정보 : <br>
                                <textarea class="adminArea" id="vprofile" name="profile" required></textarea>
                            </div><br>
                            <div class="career">경력 사항: <br>
                                <textarea class="adminArea" id="vcareer" name="career" required></textarea>
                            </div><br>
                            휴무일 : <span>
                            	<input type="text"  class="text_input_admin" id="holi" name="day" required>
                            </span><br><br>
                            연락처 : <span> 
                                <input type="text"  class="text_input_admin" id="phone_input" name="phone" required>
                            </span>
                        </div>
                    </div>
                    <br><br>
                   	<div id="div_btn">
                       <button type="submit" id="updateBtn" onclick="doctor_modify()">수정</button>
                       <button type="reset" id="type_btn2">취소</button>
                  	 </div>                      
                    </form>
                    </div>
                </div>
            </div>
       
</body>
</html>