<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인, 관리자)-->
    <!-- <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <link type="text/css" rel="stylesheet" href="/css/adminMain.css"> -->
    <!-- 효은 css -->
    <link type="text/css" rel="stylesheet" href="/css/he.css">
    <link type="text/css" rel="stylesheet" href="/css/adminSub.css">
    <!-- 공통 js -->
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <!-- 캘린더 js, css -->
	<script type="text/javascript" src="/js/calendar.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/calendar.css"/>
   
    
    <title>다나은 서브 관리자|휴일 설정</title>
</head>
<body>
    <!-- 관리자페이지 메뉴바 -->
    <div th:replace="fragments/adminMenu.html :: fragment-nav(currnet='2-1')"></div>
    
            <!-- 내용 부분 : admincontent-main 안에 작성 -->
            <div class="admincontent-main">
                <div class="manage_wrap">
                    <h3>병원 휴일 설정</h3><br><br>
                    <div class="holiday_btn">
                        <input type="button" id="type_btn" value="전체">
                        <input type="button" id="type_btn" value="내과">
                        <input type="button" id="type_btn" value="외과">
                        <input type="button" id="type_btn" value="안과">
                        <input type="button" id="type_btn" value="정형외과">
                    </div>
                    <br>
                    <!-- <div id="div_calendar"> -->
                    <div class="reser_date">
                        <div class="calendar" id="calendar"></div>
                    </div>
                    <br><br>
                   <div id="div_btn">
                       <input type="button" id="type_btn2" value="수정">
                       <input type="button" id="type_btn2" value="취소">
                   </div>
                </div>
            </div>
     
  
  <!-- 캘린더 -->          
  <script>
  
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    
    var calendar = new FullCalendar.Calendar(calendarEl, {
      /* //initialDate: '2020-09-12',
      //locale : "ko",
      //editable: true, */
      selectable: true, 
      /* //businessHours: true,
      //dayMaxEvents: true, // allow "more" link when too many events
      //hiddenDays:[1], */
     
      googleCalendarApiKey : "AIzaSyDcnW6WejpTOCffshGDDb4neIrXVUA1EAE",
      eventSources : [
         /* 공휴일 */
          {
                googleCalendarId : "ko.south_korea#holiday@group.v.calendar.google.com"
              , className : "koHolidays"
              , color : "#FF6347"
          }
    ],
  
      /* 이벤트명 : function(){} : 각 날짜에 대한 이벤트를 통해 처리할 내용.. */
      select: function(arg) { 
        
        var date = new Date();
        var year = date.getFullYear();
        var month = ("0" + (1 + date.getMonth())).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        let today = year + "-" + month + "-" + day;
        
        /* 무슨 요일인지 확인 용 */
        let dayy = String(arg.start);
        let week = dayy.split(" ");
        
        if(arg.startStr < today) {  /* 지난 날짜 선택한 경우 */
          alert('선택할 수 없는 날짜입니다.');
        }  else if(vname === '김소민' && week[0] === 'Mon'){   // 휴무일 선택한 경우
        	alert('해당 의료진의 휴무일입니다.');
   
        } else if(vname === '박진희' && week[0] === 'Tue'){   // 휴무일 선택한 경우
        	alert('해당 의료진의 휴무일입니다.');
   
        } else if(vname === '안나현' && week[0] === 'Wed'){   // 휴무일 선택한 경우   	
        	alert('해당 의료진의 휴무일입니다.');
   
        } else if(vname === '이효은' && week[0] === 'Thu'){   // 휴무일 선택한 경우
        	alert('해당 의료진의 휴무일입니다.');
   
        } else {  /* 예약 가능한 일자 선택한 경우 일자 예약 success */
          //console.log(arg.startStr); /* 날짜 보내기 */
          
          /* 선택한 날짜 진료일에 표시되게 */
          var Cdate = arg.startStr;
          document.getElementById("timeTable").getElementsByTagName("td")[4].innerHTML = Cdate 

          
          //console.log(week[0]); /* 요일 보내기 */
         
        }

          /* calendar.unselect() */
        }

    });

    calendar.render();
  });
  
    var vno = $('#timeTable').find("td:eq(0)").text();
  
  	var vname = $('#timeTable').find("td:eq(1)").text();
  	
  	var tno = $('#timeTable').find("td:eq(2)").text();
	
	var tname = $('#timeTable').find("td:eq(3)").text();
	
	


	//console.log(time);
	
	
	/* $("select[id=reseration_time]").change(function(){
		  console.log($(this).val()); //value값 가져오기
		  
		}); */
	  
</script> 
        
</body>
</html>