<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <link type="text/css" rel="stylesheet" href="/css/adminMain.css">
    <!-- 효은 css -->
    <link type="text/css" rel="stylesheet" href="/css/he.css">
    <link type="text/css" rel="stylesheet" href="/css/adminSub.css">
    <!-- 공통 js -->
    <script type="text/javascript" src="/js/common.js"></script>
    
    <title>다나은 서브 관리자|휴일 설정</title>
</head>
<body>
    <!-- 관리자페이지 메뉴바 -->
    <div th:replace="fragments/adminMenu.html :: fragment-nav(currnet='2-1')"></div>
    
            <!-- 내용 부분 : admincontent-main 안에 작성 -->
            <div class="admincontent-main">
                <div class="manage_wrap">
                    <h3>병원 휴일 설정</h3><br><br>
                    <div class="holiday_btn">
                        <input type="button" id="type_btn" value="전체">
                        <input type="button" id="type_btn" value="내과">
                        <input type="button" id="type_btn" value="외과">
                        <input type="button" id="type_btn" value="안과">
                        <input type="button" id="type_btn" value="정형외과">
                    </div>
                    <br>
                    <div id="div_calendar">
                        <div class="holiday_calendar">
    
                        </div>
                    </div>
                    <br><br>
                   <div id="div_btn">
                       <input type="button" id="type_btn2" value="수정">
                       <input type="button" id="type_btn2" value="취소">
                   </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>