<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <link type="text/css" rel="stylesheet" href="/css/adminMain.css">
    <!-- 효은 css -->
    <link type="text/css" rel="stylesheet" href="/css/he.css">
    <link type="text/css" rel="stylesheet" href="/css/adminSub.css">
    <!-- 공통 js -->
    <script type="text/javascript" src="/js/common.js"></script>
    
    <title>다나은 동물병원|의료진 관리</title>
</head>
<body>
    <!-- 관리자페이지 메뉴바 -->
    <div th:replace="fragments/adminMenu.html :: fragment-nav(currnet='4')"></div>

            <!-- 내용 부분 : admincontent-main 안에 작성 -->
            <div class="admincontent-main">
                <div class="manage_wrap">
                    <h3>의료진 관리</h3><br><br>
                    <div class="search_doctor">
                        <input type="search" class="text_input_admin" placeholder="검색할 의료진의 이름을 입력하세요.">
                        <input type="button" id="type_btn" value="검색">
                    </div>
                    <div id="admin_line"></div><br>
                    <br>
                    <div class="search_result">
                        <div class="REcontent">

                            <span id="doc_name">의료진 김소민</span><br><br>
                            <span id="doc_treatment">진료 과목 : 내과</span><br><br>
                            <div class="profile">약력 및 기본 정보 : <br>
                                <textarea class="adminArea">
                                전북대학교 수의과대학 졸업
                                웨스턴 동물의료센터 진료수의사
                                참누리 동물병원 진료수의사
                                충남대학교 외과 석사
                                현) 청담 이리온 동물병원 외과 과장
                                </textarea>
                            </div><br>
                            <div class="career">경력 사항: <br>
                                <textarea class="adminArea">
                                2012, Purdue University AMC Rotation, Indiana St., USA
                                2018, AO Principles in small animal fracture management, San Diego, CA, USA
                                2019 한국임상수의학회 추계학술대회 발표 : Diagnosis and surgical
                                correction of true diaphragmatic hernia in a cat
                                </textarea>
                            </div><br>
                            <span id="holi">휴무일 : 월요일</span><br><br>
                            <span id="doc_tellNum">연락처 : 
                                <input type="text"  class="text_input_admin" id="phone_input" name="doc_phone" value="010-1234-5678">
                            </span>

                        </div>
                    </div>
                    <br><br>
                   <div id="div_btn">
                       <input type="button" id="updateBtn" value="수정">
                       <input type="button" id="type_btn2" value="취소">
                   </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>