<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>치료 리뷰 목록</title>
    <!-- css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <link type="text/css" rel="stylesheet" href="/css/sm/reviewList.css">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;400&display=swap" rel="stylesheet">
    <!-- jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
    <!--메인 스크립트 -->
    <script type="text/javascript" src="/js/common.js"></script>
    <!--슬릭 슬라이더-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!--슬릭 슬라이더 스크립트-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(function(){

            $('.reviewSlide').slick({
                dots: false,
                infinite: false,
                speed: 300,
                slidesToShow: 4,
                slidesToScroll: 4,
                responsive: [
                    {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                    },
                    {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                    },
                    {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
             });
        });
    </script>

</head>
<style>
        .contentBox {
            width: 244px;
            height: 613px;
            background-color: rgba(244, 248, 250, 1);
            margin-right: 20px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            place-items: center;
        }
        
        .minHeight{
           min-height:109px;
        }

</style>
<body>
 	<!-- 헤더 -->
 	<div th:replace="fragments/header.html"></div>

 <!-- 내용 부분 -->
    <div id="main">
       
        <!-- 내용 표시 부분 -->
        <div class="board content">
           <div class="mainTitle">치료후기</div>
            <div class="slideWrap">
               <div class="reviewSlide">  

                   <div class="contentBox" th:each="review : ${reviewList}">
                       <div class="item">
                       
                       <div class="crop" th:if="${review.photoList.get(0).changedName != null}"><img class="uploadImg" th:src="${review.photoList.get(0).filePath}+${review.photoList.get(0).changedName}"></div>
                       <div class="thumnail" th:unless="${review.photoList.get(0).changedName != null}"></div>
                       </div>
                       <div class="item reviewTitle">
                           <a href="#">
                               [<span th:text="${review.tname}">진료과목</span>][[${review.rvtitle}]]
                           </a>
                        </div>
                       <div class="item reviewContent">
                       <th:block th:if="${review.modifyDate} != null">
                       	[[${#dates.format(review.modifyDate, 'yyyy.MM.dd')}]]
                       </th:block>
                       <th:block th:unless="${review.modifyDate} != null">
                       	[[${#dates.format(review.createDate, 'yyyy.MM.dd')}]]
                       </th:block>
                       </div>
                       <div class="item reviewContent minHeight">
                            <a href="#" th:utext="${review.rvcontent}"> <!-- th:utext는 html 태그 이스케이프 처리 안함 -->
                            	
                                우리집 래브라도 리트리버 맥스가 신나게 뛰어놀다가 그만 다리를 다쳤는데 엑스레이를 찍어보니 십자인대 파열이라지 뭐에요 수술을 해야한다고...
                            </a>
                       </div>
                       <div class="item goDetail"><a class="bgblue" th:href="@{/review/detail}">자세히보기<img id="arrow" src="/images/sm/arrow.png"></a></div>
                   </div>
                   <div class="contentBox">
                       <div class="item"><div class="crop"><img class="uploadImg" src="/images/sm/choco.jpg"></div></div><!--이미지 있으면 thumnail div 지우고 삽입-->
                       <div class="item reviewTitle">
                           <a href="#">
                             <span>[안과]</span>원장님이 엄청 친절하세요!!!!
                           </a>
                       </div>
                       <div class="item reviewContent">2021-11-30</div>
                       <div class="item reviewContent">
                           <a href="#">
                                우리집 강아지 토토가 눈이 충혈돼서 방문했는데 여기서  안약 처방 받고 깨끗이 나았습니다. 과잉진료 없고 원장님이 동물에 애정이 있으신것 ...
                            </a>
                        </div>
                        <div class="item goDetail"><a class="bgblue" href="#">자세히보기<img id="arrow" src="/images/sm/arrow.png"></a></div>
                   </div>
                   <div class="contentBox">
                       <div class="item"><div class="crop"><img class="uploadImg" src="/images/sm/teddy.jpg"></div></div> <!--fix!!!!-->
                       <div class="item reviewTitle">
                           <a href="#">
                            <span>[정형외과]</span> AAI 수술과 슬개골 탈구 수술 후기
                           </a>
                       </div>
                       <div class="item reviewContent">
                           2021-11-17
                       </div>
                       <div class="item reviewContent">
                          <a href="#">
                            생후 5개월경부터 점차 다리를 쓰지 못하고 잘 일어서있지 못하던 치치. 다른 병원에서는 슬개골탈구가 심한 4기라는 진단을 받았고 슬개골탈 ...
                          </a>
                       </div>
                       <div class="item goDetail"><a class="bgblue" href="#">자세히보기<img id="arrow" src="/images/sm/arrow.png"></a></div>
                   </div>
                   <div class="contentBox">
                      <div class="item"><div class="crop"><img class="uploadImg" src="/images/sm/doggie.jpg"></div></div>
                       <div class="item reviewTitle">
                           <a href="#"><span>[내과]</span> 뇌종양 수술 후기 입니다
                           </a>
                       </div>
                       <div class="item reviewContent">
                           2021-11-14
                       </div>
                       <div class="item reviewContent">
                           <a href="#">
                              잘 일어나거나 걷지 못하는 증상으로 병원을 방문했습니다. 
                              생후 5개월부경부터 다리를 저는 증상을 보여서 처음엔 외과적인 문제라고 생각해... 
                           </a>       
                       </div>
                       <div class="item goDetail"><a class="bgblue" href="#">자세히보기<img id="arrow" src="/images/sm/arrow.png"></a></div>
                   </div>
                   <div class="contentBox">
                       <div class="item"><div class="thumnail"></div></div><!--이미지 있으면 thumnail div 지우고 삽입-->
                       <div class="item reviewTitle">
                           <a href="#">
                             <span>[안과]</span>원장님이 엄청 친절하세요!!!!
                           </a>
                       </div>
                       <div class="item reviewContent">2021-11-30</div>
                       <div class="item reviewContent">
                           <a href="#">
                                우리집 강아지 토토가 눈이 충혈돼서 방문했는데 여기서  안약 처방 받고 깨끗이 나았습니다. 과잉진료 없고 원장님이 동물에 애정이 있으신것 ...
                            </a>
                        </div>
                        <div class="item goDetail"><a class="bgblue" href="#">자세히보기<img id="arrow" src="/images/sm/arrow.png"></a></div>
                   </div>
                   
                   <div class="contentBox">
                       <div class="thumnail">
                       </div>
                   </div>
                   <div class="contentBox">
                       <div class="thumnail">
                       </div>
                   </div>
                   <div class="contentBox">
                       <div class="thumnail">
                       </div>
                   </div>
                   <div class="contentBox">
                       <div class="thumnail">
                       </div>
                   </div>

               </div>
           </div>

        </div>
       
    </div>
    
          <!-- 빠른 메뉴 부분 -->
	        <div id="aside">
	            <div class="quick-menu">
	                <ul>
	                    <li>
	                    	<!-- 로그인 안했을시 로그인 페이지로 이동 변경하기 -->
	                        <a th:href="@{/qaBoard/insert}">
	                            <img src="/images/common/inquiry.png">
	                            <p>문의하기</p>
	                        </a>
	                    </li>
	                    <li>
	                        <a th:href="@{/about/device}">
	                            <img src="/images/common/medical device.png">
	                            <p>의료 장비</p>
	                        </a>
	                    </li>
	                    <li>
	                        <a th:href="@{/about/location}">
	                            <img src="/images/common/way to come.png">
	                            <p>오시는 길</p>
	                        </a>
	                    </li>
	                </ul>
	            </div>
	            <div class="move-to-top">
	                <a href="#"><img src="/images/common/arrow.png"></a>
	            </div>
	        </div>
    
    <!-- 푸터 -->
	<div th:replace="fragments/footer.html"></div>
	

</body>
</html>