<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>  
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet"> 
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <!-- 효은 css -->
    <link type="text/css" rel="stylesheet" href="/css/he.css">
    <!-- 공통 js -->
    <script type="text/javascript" src="/js/common.js"></script>
    
    <title>진료안내</title>
</head>
<body>
<div th:replace="fragments/header.html"></div>

    <!-- 내용 부분 -->
    <div id="main">
       <!-- 사이드 메뉴 -->
       <div id="side-menu"> 
        <div class="sidenav">
            <ul>
                <li class="li-active"><a th:href="@{/reservation/notice}">진료 안내</a></li>
                <li><a th:href="@{/reservation/treatmentType}">진료 과목</a></li>
                <li><a th:href="@{/reservation/reservation_typeChoice}">진료 예약</a></li>
            </ul>      
        </div>
        </div>
        <!-- 내용 표시 부분 -->
        <div id="content">
            <!-- 현재 페이지 경로 표시 -->
            <div class="path-info">
                <ul>
                    <li>HOME</li>
                    <li>진료 안내</li>
                    <li>진료 안내</li>
                </ul>
            </div><br><br><br>
            <div class="content_detail">
                <div class="con_title">
                    진료 안내
                </div>
                <div id="title_line"></div><br>
                <p>
                원활한 진료를 위해 예약진료를 실시하고 있습니다.<br><br>
    
                전화 예약 : 02-1544-9970<br>
                온라인 예약 : 좌측에 ‘진료 예약’ 메뉴 이용<br><br>
                    
                평일 : 10:00 ~ 18:00<br>
                주말 : 10:00 ~ 17:00<br>
                점심시간: 매일 13:00~14:00<br>
                공휴일 : 휴진<br>
                진료 과목 별 휴진일 : <br><br>
                <table id="table_rest">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>내과</th>
                            <th>외과</th>
                            <th>안과</th>
                            <th>정형외과</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>월</td>
                            <td>화</td>
                            <td>수</td>
                            <td>목</td>
                        </tr>
                    </tbody>
                </table>
                </p><br><br><br><br><br>
            </div>
            
            <div class="content_detail">
                <div class="con_title">
                    유의사항
                </div>
                <div id="title_line"></div><br>
                <p>
                    * 내원 전, 전화 또는 홈페이지로 사전 예약해 주시기 바랍니다.<br>
                    * 진료는 예약제로 운영됩니다.<br>
                    * 사전 예약은 최소 2일 전 예약을 원칙으로 합니다.<br>
                    * 예약 취소는 예약된 진료일 2일 전까지 가능합니다.<br>
                    * 법정공휴일은 휴진이며 해당 과 담당의의 스케줄에 따라 요청된 날짜에 진료가 불가능  할 수 있습니다.<br>
                </p>
            </div>
        </div>
        <!-- 빠른 메뉴 부분 -->
        <div id="aside">
            <div class="quick-menu">
                <ul>
                    <li>
                        <a href="#">
                            <img src="/images/common/inquiry.png">
                            <p>문의하기</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about/device}">
                            <img src="/images/common/medical device.png">
                            <p>의료 장비</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about/location}">
                            <img src="/images/common/way to come.png">
                            <p>오시는 길</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="move-to-top">
                <a href="#"><img src="/images/common/arrow.png"></a>
            </div>
        </div>
    </div>
    
    <!-- 푸터 -->
    <div th:replace="fragments/footer.html"></div>
</body>
</html>