<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>   
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet"> 
    <!-- common css-->
    <link type="text/css" rel="stylesheet" href="/css/common.css">   
    <!-- 효은 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="/css/he.css">
    <!-- common js -->
    <script type="text/javascript" src="/js/common.js"></script>
    <!-- 효은 js (메인, 관리자)-->
    <script type="text/javascript" src="/js/he.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <!-- 캘린더 js, css -->
	<script type="text/javascript" src="/js/calendar.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/calendar.css"/>
   
    <title>진료 예약</title>
</head>
<body>
	<!-- 헤더 -->
     <div th:replace="fragments/header.html"></div>
     
    <!-- 내용 부분 -->
    <div id="main">
        <!-- 사이드 메뉴 -->
       <div id="side-menu"> 
        <div class="sidenav">
            <ul>
                <li><a th:href="@{/reservation/notice}">진료 안내</a></li>
                <li><a th:href="@{/reservation/treatmentType}">진료 과목</a></li>
                <li class="li-active"><a th:href="@{/reservation/reservation_typeChoice}">진료 예약</a></li>
            </ul>      
        </div>
        </div>
        <!-- 내용 표시 부분 -->
        <div id="content">
            <!-- 현재 페이지 경로 표시 -->
            <div class="path-info">
                <ul>
                    <li>HOME</li>
                    <li>진료 안내</li>
                    <li>진료 예약</li>
                </ul>
            </div><br><br><br>
            <div class="calendar_content">
                <div class="con_title">
                    진료 날짜
                </div>
                <div id="title_line"></div><br>
                <div class="reser_date">
                <!-- 캘린더 -->
                    <div class="calendar" id="calendar"></div>
                    <!-- <div class="quickDiv">
                        <input type="button" id="type_btn" class="quick" value="빠른예약">
                    </div> -->
                </div>
            </div><br><br><br><br><br>
            
            
            
            
            <div class="time_content">
            <form th:action="@{/reservation/reservation_form}" method="Post" enctype="multipart/form-data" id="reservation_info">
                <div class="con_title">
                    진료 시간
                </div>
                <div id="title_line"></div><br>
                <table class="time_table" id="timeTable">
                    <colgroup>
                        <col style="width: 25%;">
                        <col style="width: 25%;">
                        <col style="width: 25%;">
                        <col style="width: 25%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>담당의</th>
                            <th>진료 과목</th>
                            <th>진료일</th>
                            <th>진료 시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="info : ${VList}">
                        	<td th:text="${info.vno}" style="display:none;" id="vno"></td>
                            <td th:text="${info.vname}" id="vname"></td>
                            <td th:text="${info.tno.tno}" style="display:none;" id="tno"></td>
                            <td th:text="${info.tno.tname}" id="tname"></td>
                            <td id="reservation_date"></td>
                            <td>
                                <select id="reseration_time" name="reservation_time">
                                    <option value="10:00">10:00~11:00</option>
                                    <option value="11:00">11:00~12:00</option>
                                    <option value="12:00">12:00~13:00</option>
                                    <option value="14:00">14:00~15:00</option>
                                    <option value="15:00">15:00~16:00</option>
                                    <option value="16:00">16:00~17:00</option>
                                    <option value="17:00">17:00~18:00</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" name="vno" value="">
                <input type="hidden" name="vname" value="">
                <input type="hidden" name="tno" value="">
                <input type="hidden" name="tname" value="">
                <input type="hidden" name="reservation_date" value="">
            <div class="quickDiv">
            	<button type="submit" id="type_btn" class="reserBtn" onclick="sub()">예약진행</button>
            </div>       
            </form>              
            </div>
        </div>
        
   <!-- 캘린더 일자 선택 -->         
  <script>
  
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    
    var calendar = new FullCalendar.Calendar(calendarEl, {
      /* //initialDate: '2020-09-12',
      //locale : "ko",
      //editable: true, */
      selectable: true, 
      /* //businessHours: true,
      //dayMaxEvents: true, // allow "more" link when too many events
      //hiddenDays:[1], */
     
      googleCalendarApiKey : "AIzaSyDcnW6WejpTOCffshGDDb4neIrXVUA1EAE",
      eventSources : [
         /* 공휴일 */
          {
                googleCalendarId : "ko.south_korea#holiday@group.v.calendar.google.com"
              , className : "koHolidays"
              , color : "#FF6347"
          }
    ],
  
      /* 이벤트명 : function(){} : 각 날짜에 대한 이벤트를 통해 처리할 내용.. */
      select: function(arg) { 
        
        var date = new Date();
        var year = date.getFullYear();
        var month = ("0" + (1 + date.getMonth())).slice(-2);
        var day = ("0" + date.getDate()).slice(-2);
        let today = year + "-" + month + "-" + day;
        
        /* 무슨 요일인지 확인 용 */
        let dayy = String(arg.start);
        let week = dayy.split(" ");
        
        if(arg.startStr < today) {  /* 지난 날짜 선택한 경우 */
          alert('선택할 수 없는 날짜입니다.');
        }  else if(vname === '김소민' && week[0] === 'Mon'){   // 휴무일 선택한 경우
        	alert('해당 의료진의 휴무일입니다.');
   
        } else if(vname === '박진희' && week[0] === 'Tue'){   // 휴무일 선택한 경우
        	alert('해당 의료진의 휴무일입니다.');
   
        } else if(vname === '안나현' && week[0] === 'Wed'){   // 휴무일 선택한 경우   	
        	alert('해당 의료진의 휴무일입니다.');
   
        } else if(vname === '이효은' && week[0] === 'Thu'){   // 휴무일 선택한 경우
        	alert('해당 의료진의 휴무일입니다.');
   
        } else {  /* 예약 가능한 일자 선택한 경우 일자 예약 success */
          //console.log(arg.startStr); /* 날짜 보내기 */
          
          /* 선택한 날짜 진료일에 표시되게 */
          var Cdate = arg.startStr;
          document.getElementById("timeTable").getElementsByTagName("td")[4].innerHTML = Cdate; 
          
          
          //console.log(week[0]); /* 요일 보내기 */
         
        }

          /* calendar.unselect() */
        }

    });

    calendar.render();
  });
  
    var vno = $('#timeTable').find("td:eq(0)").text();
  
  	var vname = $('#timeTable').find("td:eq(1)").text();
  	
  	var tno = $('#timeTable').find("td:eq(2)").text();
	
	var tname = $('#timeTable').find("td:eq(3)").text();



	//console.log(time);
	
	
	/* $("select[id=reseration_time]").change(function(){
		  console.log($(this).val()); //value값 가져오기
		  
		}); */
	  
</script> 
 
        
        <!-- 빠른 메뉴 부분 -->
        <div id="aside">
            <div class="quick-menu">
                <ul>
                    <li>
                        <a href="#">
                            <img src="/images/common/inquiry.png">
                            <p>문의하기</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about/device}">
                            <img src="/images/common/medical device.png">
                            <p>의료 장비</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about/location}">
                            <img src="/images/common/way to come.png">
                            <p>오시는 길</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="move-to-top">
                <a href="#"><img src="/images/common/arrow.png"></a>
            </div>
        </div>
    </div>
    
	<!-- 푸터 -->
    <div th:replace="fragments/footer.html"></div>

</body>
</html>