<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>    
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet"> 
    <!-- common css-->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <!-- 효은 css -->
    <link type="text/css" rel="stylesheet" href="/css/he.css">
    <!-- common js -->
    <script type="text/javascript" src="/js/common.js"></script>
    <!-- 효은 js -->
    <script type="text/javascript" src="/js/he.js"></script>
    
    <title>다나은 동물병원</title>
</head>
<body>
  <div th:replace="fragments/header.html"></div>

    <!-- 내용 부분 -->
    <div id="main">
        <!-- 사이드 메뉴 -->
        <div id="side-menu"> 
            <div class="sidenav">
                <ul>
                    <li><a th:href="@{/reservation/notice}">진료 안내</a></li>
                    <li><a th:href="@{/reservation/treatmentType}">진료 과목</a></li>
                    <li class="li-active"><a th:href="@{/reservation/reservation_typeChoice}">진료 예약</a></li>
                </ul>      
            </div>
        </div>
        <!-- 내용 표시 부분 -->
        <div id="content" class="reservation_content">
            <!-- 현재 페이지 경로 표시 -->
            <div class="path-info">
                <ul>
                    <li>HOME</li>
                    <li>진료 안내</li>
                    <li>진료 예약</li>
                </ul>
            </div>
            <form th:action="@{/reservation/reservation_form/input}" method="Post" enctype="multipart/form-data" id="reservation_info">
            <!-- 이전 페이지에서 사용자가 입력했던 예약 정보를 hidden으로 불러와서 값 같이 넘기기 -->
            <input th:value="${#dates.format(reserInfo.reservation_date, 'yyyy-MM-dd')}" name="reservation_date" type="hidden">
            <input th:value="${reserInfo.reservation_time}" name="reservation_time" type="hidden">
            <input th:value="${reserInfo.tno}" name="tno" type="hidden">
            <input th:value="${reserInfo.vno}" name="vno" type="hidden">
               <div class="reser_content">
                    <div class="con_title">
                        예약 정보 입력
                    </div>
                    <div id="title_line"></div><br>
                    <span>예약자</span>
                    <div class="username">
                        나견주, 01012345678
                    </div><br>
                    <div class="reservation_form_content">
                        <span>동물명*</span>
                        <label id="dog_info_chk"><input type="checkbox" value="dog">등록된 동물 정보 가져오기</label>
                        <br>
                        <div class="text_input">
                            <input type="text" id="dog_name" name="in_dog_name" required>
                        </div>
                        <br>
                        <span>견종</span>
                        <br>
                        <div class="text_input">
                            <input type="text" id="dog_breed" name="in_breed">
                        </div>
                        <br>
                        <span>성별*</span>
                        <br>
                        <select id="box_select" name="in_dog_gender" required>
                            <option value="암컷">암컷</option>
                            <option value="수컷">수컷</option>
                        </select>
                        <br><br>
                        <span>나이</span>
                        <br>
                        <div class="text_input">
                            <input type="number" id="dog_age" name="in_dog_age" placeholder="숫자로만 입력이 가능합니다.">
                        </div>
                        <br>
                        <span>증상 및 요청</span><br>
                        <div class="areaDiv">
                            <textarea class="requestArea" id="request" name="symptom" placeholder="200자 이내만 입력이 가능합니다."></textarea>
                            <span class="charCnt"><em>0</em>/200</span>
                        </div>
                    </div>
                </div>
                <div class="agreement">
                    <div class="con_title">
                        개인정보 이용 동의
                    </div>
                    <div id="title_line"></div><br>
                    <div id="agree_content">
                        <br><br>
                        <dl>
                            <h3>개인정보 수집, 이용에 대한 동의(개인정보보호법 제15조)</h3> 
                        </dl><br>
                        <dl>
                            <dt><h4>개인정보 수집 항목</h4></dt>
                            <dd>성명, 홈페이지 ID, 동물정보</dd>
                        </dl><br>
                        <dl>
                            <dt><h4>수집 및 이용목적</h4></dt>
                            <dd>진료를 위한 회원정보, 동물정보</dd>
                        </dl><br>
                        <dl>
                            <dt><h4>보유 및 이용기간</h4></dt>
                            <dd>수집된 개인정보의 보유기간은 개인정보 제출 후 준영구 또는 개인정보 삭제 신청 시까지입니다. <br>
                                삭제 요청시 다나은 동물병원은 개인의 정보를 재생이 불가능한 방법으로 즉시 파기합니다.
                            </dd>
                            <span>※ 귀하는 이에 대한 동의를 거부할 권리가 있으며, 다만 동의를 거부하실 경우 이와 관련된 업무 진행에 제약이 따를 수 있음을 알려드립니다.</span>
                        </dl><br>
                        <label><input type="checkbox" id="agree_chk" value="agree" required>약관에 동의합니다.</label>
                        <br><br><br>
                        <div  class="reservation_btn">
                            <button type="submit" id="type_btn" onclick="reservation()">예약 신청</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <script>
            // textArea 글자수 체크
	        $('#request').on('keyup', function() {
	            $('.charCnt').text(+$(this).val().length+"/200");
	    
	            if($(this).val().length > 200) {
	                $(this).val($(this).val().substring(0, 200));
	                $('.charCnt').text("200/200");
	            }
	        });           
        </script>

        <!-- 빠른 메뉴 부분 -->
        <div id="aside">
            <div class="quick-menu">
                <ul>
                    <li>
                        <a href="#">
                            <img src="/images/common/inquiry.png">
                            <p>문의하기</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about/device}">
                            <img src="/images/common/medical device.png">
                            <p>의료 장비</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about/location}">
                            <img src="/images/common/way to come.png">
                            <p>오시는 길</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="move-to-top">
                <a href="#"><img src="/images/common/arrow.png"></a>
            </div>
        </div>
    </div>
    
    <!-- 푸터 -->
    <div th:replace="fragments/footer.html"></div>
               
</body>
</html>