<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../resources/js/common.js"></script>
    
    <!-- 나현 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="../resources/css/nh.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/he.css">
    <!-- common css-->
    <link type="text/css" rel="stylesheet" href="../resources/css/common.css">
    
    <title>다나은 동물병원</title>
</head>
<body>
    <!-- 헤더 -->
    <header id="header">
        <div class="header-container">
            <!-- 로그인 -->
            <div class="homemenu">
                <!-- 로그인 안한 경우 -->
                <ul class="nologin">
                    <a href="#">HOME</a>
                    <a href="#">로그인</a>
                    <a href="#">회원가입</a>
                </ul>
                <!-- 로그인 한 경우 -->
                <ul class="userlogin" style="display: none;">
                    <a href="#">HOME</a>
                    <a href="#">로그아웃</a>
                    <a href="#">마이페이지</a>
                </ul>
            </div>
            <div class="main-menu">
                <!-- 로고 -->
                <div class="logo">
                    <a href="#">
                        <img src="../resources/images/common/logo.png"></img>
                    </a>
                </div>
                <!-- 메인 메뉴 -->
                <div class="menulist">
                    <ul>
                        <li><a href="#">병원소개</a>
                            <ul class="sub-menulist">
                                <li><a href="#">병원 소개</a></li>
                                <li><a href="#">의료진 소개</a></li>
                                <li><a href="#">의료 장비 소개</a></li>
                                <li><a href="#">오시는 길</a></li>
                            </ul>
                        </li>
                        <li><a href="#">진료안내</a>
                            <ul class="sub-menulist">
                                <li><a href="#">진료 안내</a></li>
                                <li><a href="#">진료 과목</a></li>
                                <li><a href="#">진료 예약</a></li>
                            </ul>
                        </li>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">치료후기</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- 내용 부분 -->
    <div id="main">
        <!-- 사이드 메뉴 -->
       <div id="side-menu"> 
        <div class="sidenav">
            <ul>
                <li><a href="#">진료 안내</a></li>
                <li><a href="#">진료 과목</a></li>
                <li class="li-active"><a href="#">진료 예약</a></li>
            </ul>      
        </div>
        </div>
        <!-- 내용 표시 부분 -->
        <div id="content">
            <!-- 현재 페이지 경로 표시 -->
            <div class="path-info">
                <ul>
                    <li>HOME</li>
                    <li>진료 안내</li>
                    <li>진료 예약</li>
                </ul>
            </div><br><br><br>
            <div class="calendar_content">
                <div class="con_title">
                    진료 날짜
                </div>
                <div id="title_line"></div><br>
                <div class="reser_date">
                    <div class="calendar">
    
                        
                    </div>
                    <div class="quickDiv">
                        <input type="button" id="type_btn" class="quick" value="빠른예약">
                    </div>
                </div>
            </div><br><br><br><br><br>
            
            <div class="time_content">
                <div class="con_title">
                    진료 시간
                </div>
                <div id="title_line"></div><br>
                <table class="time_table">
                    <colgroup>
                        <col style="width: 25%;">
                        <col style="width: 25%;">
                        <col style="width: 25%;">
                        <col style="width: 25%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>진료 과목</th>
                            <th>담당의</th>
                            <th>진료일</th>
                            <th>진료 시간</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>내과</td>
                            <td>김소민</td>
                            <td>2021.12.30</td>
                            <td>
                                <select id="reser_time">
                                    <option value="10:00">10:00~11:00</option>
                                    <option value="11:00">11:00~12:00</option>
                                    <option value="12:00">12:00~13:00</option>
                                    <option value="14:00">14:00~15:00</option>
                                    <option value="15:00">15:00~16:00</option>
                                    <option value="16:00">16:00~17:00</option>
                                    <option value="17:00">17:00~18:00</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
        <!-- 빠른 메뉴 부분 -->
        <div id="aside">
            <div class="quick-menu">
                <ul>
                    <li>
                        <a href="#">
                            <img src="../resources/images/common/inquiry.png">
                            <p>문의하기</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../resources/images/common/medical device.png">
                            <p>의료 장비</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="../resources/images/common/way to come.png">
                            <p>오시는 길</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="move-to-top">
                <a href="#"><img src="../resources/images/common/arrow.png"></a>
            </div>
        </div>
    </div>
    <!-- 푸터 -->
    <footer id="footer">
        <div class="footer-container">
            <div class="flogo">
                <img src="../resources/images/common/logo2.png">
            </div>
            <div class="finfo">
                주소 서울특별시 강남구 테헤란로10길 9 그랑프리 빌딩 4F, 5F, 7F <br>
                TEL 1544-9970 <br>
                Copyright © 1998-2021 KH Information Educational Institute All Right Reserved
            </div>
        </div>
    </footer>


</body>
</html>