<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.project.member.model.dao.MemberMapper">

	<resultMap type="com.kh.project.member.model.vo.Member" id="loginMemberResultMap">  <!-- loginMemberResultMap 셀렉한 게 채워줌 -->
	<!-- 멤버타입객체  -->
		<id property="no" column="USER_NO"/>
		<result property="id" column="USER_ID"/>
		<result property="pwd" column="USER_PWD"/>
		<result property="tempPwdYn" column="TEMP_PWD_YN"/>
		<result property="pwdChangedDatetime" column="PWD_CHANGED_DATETIME"/>		
		<result property="name" column="USER_NAME"/>		
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="address" column="ADDRESS"/>		
		<result property="registDatetime" column="ENROLL_DATETIME"/>
		<result property="modifyDatetime" column="MODIFY_DATETIME"/>		
		<result property="loginFailedCount" column="LOGIN_FAILED_COUNT"/>
		<result property="accLockTime" column="ACC_LOCK_TIME"/>		
		<result property="accLockYn" column="ACC_LOCK_YN"/>
		<result property="accsecssionDatetime" column="ACC_SECESSION_DATETIME"/>
		<result property="accSecssionYn" column="ACC_SECSSION_YN"/>
		
		<collection property="memberRoleList" resultMap="memberRoleResultMap"/> <!-- 한사람의 정보가 들어가되 리스트 값만 매핑 -->
		<!-- 매핑시켜야 함 테이블 3개 조인해야 함 -->	
		<!-- <collection property="dogInformation" resultMap="dogInformationResultMap"/>  --><!-- 내가 추가 한 거 -->
	</resultMap>
	
	
	 <resultMap type="com.kh.project.member.model.vo.MemberRole" id="memberRoleResultMap">
		<id property="memberNo" column="REF_USER_NO"/>
		<id property="authorityCode" column="REF_AUTHORITY_CODE"/>  
		<association property="authority" resultMap="authorityResultMap"/>		
	</resultMap>
	
	<resultMap type="com.kh.project.member.model.vo.Authority" id="authorityResultMap">
		<id property="code" column="REF_AUTHORITY_CODE2"/>
		<result property="name" column="AUTHORITY_NAME"/>
		<result property="desc" column="AUTHORITY_DESC"/>
	</resultMap> 	
	
	<!-- <resultMap type="com.kh.project.member.model.vo.DogInformation" id="dogInformationResultMap">
		<id property="no" column="DOG_NO"/>
		<result property="petName" column="DOG_NAME"/>
		<result property="petAge" column="AUTHORITY_DESC"/>
		<result property="breed" column="AUTHORITY_DESC"/>
		<result property="status" column="AUTHORITY_DESC"/>
		<result property="petGender" column="AUTHORITY_DESC"/>
		<result property="userNo" column="REF_USER_NO2"/>
	</resultMap>  -->
	
	<resultMap type="com.kh.project.member.model.vo.ReservationSelect" id="reservatinoInfoResultMap">
		<id property="reservation_no" column="RESERVATION_NO"/>
		<result property="reservation_date" column="RESERVATION_DATE"/>
		<result property="reservation_time" column="RESERVATION_TIME"/>
		<result property="reservation_status" column="RESERVATION_STATUS"/>
		<result property="vname" column="VNAME"/>
		<result property="tname" column="TNAME"/>
		
			<association property="user_id" javaType="com.kh.project.member.model.vo.Member">
				<id property="no" column="USER_NO"/>
				<result  property="id" column="USER_ID"/>
			</association>				
	
	</resultMap>	
	
	

	
	<select id="findMemberById" resultMap="loginMemberResultMap"> <!-- loginMemberResultMap 셀렉 -->
			SELECT
		       A.USER_NO
		     , A.USER_ID
		     , A.USER_PWD
		     , A.TEMP_PWD_YN
		     , A.PWD_CHANGED_DATETIME
		     , A.USER_NAME
		     , A.PHONE
		     , A.EMAIL
		     , A.ADDRESS
		     , A.ENROLL_DATETIME
		     , A.MODIFY_DATETIME
		     , A.LOGIN_FAILED_COUNT
		     , A.ACC_LOCK_TIME
		     , A.ACC_LOCK_YN
		     , A.ACC_SECESSION_DATETIME
		     , A.ACC_SECESSION_YN
		     , B.USER_NO REF_USER_NO
		     , B.AUTHORITY_CODE REF_AUTHORITY_CODE
		     , C.AUTHORITY_CODE REF_AUTHORITY_CODE2
		     , C.AUTHORITY_NAME
		     , C.AUTHORITY_DESC
		FROM MEMBER A
		LEFT JOIN MEMBER_ROLE B ON (A.USER_NO = B.USER_NO)
		LEFT JOIN AUTHORITY C ON (B.AUTHORITY_CODE = C.AUTHORITY_CODE)
		WHERE A.USER_ID =  #{ userId }	
		 and  A.ACC_SECESSION_YN = 'N'  
		 
		 	<!-- SELECT
		       A.USER_NO
		     , A.USER_ID
		     , A.USER_PWD
		     , A.TEMP_PWD_YN
		     , A.PWD_CHANGED_DATETIME
		     , A.USER_NAME
		     , A.PHONE
		     , A.EMAIL
		     , A.ADDRESS
		     , A.ENROLL_DATETIME
		     , A.MODIFY_DATETIME
		     , A.LOGIN_FAILED_COUNT
		     , A.ACC_LOCK_TIME
		     , A.ACC_LOCK_YN
		     , A.ACC_SECESSION_DATETIME
		     , A.ACC_SECESSION_YN
		     , B.USER_NO REF_USER_NO
		     , B.AUTHORITY_CODE REF_AUTHORITY_CODE
		     , C.AUTHORITY_CODE REF_AUTHORITY_CODE2
		     , C.AUTHORITY_NAME
		     , C.AUTHORITY_DESC
		     , D.DOG_NO
		     , D.DOG_NAME
		     , D.DOG_AGE
		     , D.BREED
		     , D.NEUTERED_STATUS
		     , D.DOG_GENDER
		     , D.USER_NO REF_USER_NO2
		     
		FROM MEMBER A
		LEFT JOIN MEMBER_ROLE B ON (A.USER_NO = B.USER_NO)
		LEFT JOIN AUTHORITY C ON (B.AUTHORITY_CODE = C.AUTHORITY_CODE)
		LEFT JOIN DOG_INFORMATION D ON(A.USER_NO = D.USER_NO)  
		WHERE A.USER_ID =  #{ userId }	
		 and  A.ACC_SECESSION_YN = 'N' --> <!--  -->
		 
	</select>
	
	
	<insert id="insertMember" parameterType="com.kh.project.member.model.vo.Member">
		INSERT 
			INTO MEMBER
			(
			   USER_NO
		     , USER_ID
		     , USER_PWD
		     , TEMP_PWD_YN
		     , PWD_CHANGED_DATETIME
		     , USER_NAME
		     , PHONE
		     , EMAIL
		     , ADDRESS
		     , ENROLL_DATETIME
		     , MODIFY_DATETIME
		     , LOGIN_FAILED_COUNT
		     , ACC_LOCK_TIME
		     , ACC_LOCK_YN
		     , ACC_SECESSION_DATETIME
		     , ACC_SECESSION_YN
			) 
			VALUES
			(
			 SEQ_USER_NO.NEXTVAL
			 , #{ id } 
			 , #{ pwd }
			 , DEFAULT
			 , DEFAULT
			 , #{ name }
			 , #{ phone }
			 , #{ email }
			 , #{ address }
			 , DEFAULT
			 , DEFAULT
			 , DEFAULT
			 , DEFAULT
			 , DEFAULT
			 , DEFAULT
			 , DEFAULT
			)	
	</insert>
	
	<insert id="insertMemberRole" parameterType="com.kh.project.member.model.vo.MemberRole">
		INSERT
			INTO MEMBER_ROLE
			(
			  USER_NO
			  , AUTHORITY_CODE
			)
			VALUES
			(
			  SEQ_USER_NO.CURRVAL
			  , #{ authorityCode }
			)		
	</insert>
	
	<insert id="insertDogInformaion" parameterType="com.kh.project.member.model.vo.DogInformation">
		INSERT
			INTO DOG_INFORMATION
			(
			  DOG_NO
			  , DOG_NAME
			  , DOG_AGE
			  , BREED
			  , NEUTERED_STATUS
			  , DOG_GENDER
			  , USER_NO
			)
			VALUES
			(
			  SEQ_DOG_NO.NEXTVAL
			  , #{ petName }
			  , #{ petAge }
			  , #{ breed }
			  , #{ status }
			  , #{ petGender }
			  , SEQ_USER_NO.CURRVAL
			)		
	</insert>



	<select id="idCheck" parameterType="string" resultType="_int">
		select 
    count(*)
    FROM MEMBER
    WHERE USER_ID = #{userId}
	</select>
	
	
	<select id="idFind" parameterType="String" resultType="string">
	SELECT
		USER_ID
	FROM MEMBER
	WHERE USER_NAME = #{name}
	  AND EMAIL = #{email}	
	  and ACC_SECESSION_YN = 'N' <!--  -->
	</select>



	<insert id="withdrawal" parameterType="com.kh.project.member.model.vo.WithdrawalReason">
	INSERT
			INTO WITHDRAWAL_REASON
			(
			  USER_NO
			  , ACC_SECESSION_REASON
			  , OTHER_OPINIONS
			)
			VALUES
			(
			  SEQ_USER_NO.CURRVAL
			  , #{ reason }
			  , #{ opinions }
			)			
	</insert>
	
	<update id="updateaccSecssionYn" parameterType="com.kh.project.member.model.vo.Member">
		UPDATE MEMBER
		SET ACC_SECESSION_YN = 'Y'
		WHERE USER_NO = SEQ_USER_NO.CURRVAL
	</update>


	<!-- 예약 조회 -->
	<select id="reservationList" resultMap="reservatinoInfoResultMap">
	SELECT
		   a.RESERVATION_DATE
		 , a.RESERVATION_TIME
		 , b.VNAME
		 , c.TNAME
	  FROM RESERVATION_INFORMATION a
      INNER JOIN VETERINARIAN b ON(a.VNO = b.VNO)
      INNER JOIN TREATMENT_TYPE c ON(a.TNO = c.TNO)
      INNER JOIN MEMBER d ON(a.USER_NO = d.USER_NO)
      WHERE d.user_id = #{id}
	</select>
	
	
</mapper>