<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.project.cs.model.dao.QABoardMapper">

	<resultMap id="qaBoardResultMap" type="com.kh.project.cs.model.vo.QABoard">
		<id property="QNo" column="Q_NO"/>
		<result property="QTitle" column="Q_TITLE"/>
		<result property="QHit" column="Q_HIT"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="QContent" column="Q_CONTENT"/>
		<result property="status" column="STATUS"/>
		<result property="secretStatus" column="SECRET_STATUS"/>
		<result property="userNo" column="USER_NO"/>
		<result property="categoryNo" column="CATEGORY_NO"/>
	</resultMap>
	
	<select id="getListCount" parameterType="com.kh.project.cs.model.vo.Search" resultType="Integer">
	<!-- resultType int 맞나? 검색어 넘어올 경우 동적쿼리 추가 -->
			SELECT
			   COUNT(*)
	      FROM QUESTION Q
	      <if test="searchCondition.equals('작성자')">
	      	JOIN MEMBER ON(USER_NO=Q.USER_NO)
	      </if>
	     WHERE STATUS = 'N'
	     <if test="searchCondition != null and searchValue != null">
	     	<choose>
	     		<when test="searchCondition.equals('제목')">
	     			AND Q_TITLE LIKE '%' || #{ searchValue } || '%'
	     		</when>
	     		<when test="searchCondition.equals('내용')">
	     			AND Q_CONTENT LIKE '%' || #{ searchValue } || '%'
	     		</when>
	     		<when test="searchCondition.equals('작성자')">
	     			AND USER_NAME LIKE '%' || #{ searchValue } || '%'
	     		</when>
	     	</choose>
	     </if>
	     
	</select>
	
	<select id="selectQAList" parameterType="map" resultMap="qaBoardResultMap">
	<!-- 검색어 넘어올 경우 동적쿼리, 파라미터 타입 pi도 추가해야되는데 두개일경우 어떡하지? 맵으로 받아오기-->	
		  
	  	SELECT *
	FROM (SELECT ROWNUM RNUM, A.*
			FROM(SELECT
                   Q_NO
		     	 , Q_TITLE
		     	 , Q_HIT
		     	 , CREATE_DATE
		     	 , MODIFY_DATE
		     	 , Q_CONTENT
		     	 , Q.STATUS
		    	 , SECRET_STATUS
		     	 , USER_NAME
		     	 , CATEGORY_NAME
		  	  FROM QUESTION Q
		   	  JOIN CATEGORY USING(CATEGORY_NO)
		   	  JOIN MEMBER USING(USER_NO)
		 	 WHERE Q.STATUS = 'N'
			 <if test="searchCondition != null and searchValue != null">
		     	<choose>
		     		<when test="searchCondition.equals('제목')">
		     			AND Q_TITLE LIKE '%' || #{ searchValue } || '%'
		     		</when>
		     		<when test="searchCondition.equals('내용')">
		     			AND Q_CONTENT LIKE '%' || #{ searchValue } || '%'
		     		</when>
		     		<when test="searchCondition.equals('작성자')">
		     			AND USER_NAME LIKE '%' || #{ searchValue } || '%'
		     		</when>
		     	</choose>
		     </if>
		 	 ORDER BY Q_NO DESC) A)
  WHERE RNUM BETWEEN #{ startRow } AND #{ endRow }	<!-- ?부분 pi에서 가져온 스타트로우랑 엔드로우로 수정 -->  
	</select>

	
</mapper>