<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.project.cs.model.dao.QABoardMapper">

	<resultMap id="qaBoardResultMap" type="com.kh.project.cs.model.vo.QABoard">
		<id property="qno" column="Q_NO"/>
		<result property="qtitle" column="Q_TITLE"/>
		<result property="qhit" column="Q_HIT"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="qcontent" column="Q_CONTENT"/>
		<result property="status" column="STATUS"/>
		<result property="secretStatus" column="SECRET_STATUS"/>
		<result property="userName" column="USER_NAME"/>
		<result property="categoryName" column="CATEGORY_NAME"/>
		<result property="userNo" column="USER_NO"/>
		<result property="categoryNo" column="CATEGORY_NO"/>
	</resultMap>
	
	<resultMap id="answerResultMap" type="com.kh.project.cs.model.vo.Answer">
		<id property="ano" column="A_NO"/>
		<result property="acontent" column="A_CONTENT"/>
		<result property="createDate" column="A_CREATE_DATE"/>
		<result property="modifyDate" column="A_MODIFY_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="qno" column="Q_NO"/>
	</resultMap>
	
	<select id="getListCount" parameterType="com.kh.project.cs.model.vo.Search" resultType="Integer">
	<!-- resultType int 맞나? 검색어 넘어올 경우 동적쿼리 추가 -->
			SELECT
			   COUNT(*)
	      FROM QUESTION Q
	      JOIN MEMBER USING(USER_NO)	  
	     WHERE Q.STATUS = 'N'
	     <if test="searchCondition != null and searchValue != null">
	     	<choose>
	     		<when test="searchCondition.equals('title')">
	     			AND Q_TITLE LIKE '%' || #{ searchValue } || '%'
	     		</when>
	     		<when test="searchCondition.equals('content')">
	     			AND Q_CONTENT LIKE '%' || #{ searchValue } || '%'
	     		</when>
	     		<when test="searchCondition.equals('writer')">
	     			AND USER_NAME LIKE '%' || #{ searchValue } || '%'
	     		</when>
	     	</choose>
	     </if>
	     
	</select>
	
	<select id="selectQAList" parameterType="map" resultMap="qaBoardResultMap">
	<!-- 검색어 넘어올 경우 동적쿼리, 파라미터 타입 pi도 추가해야되는데 두개일경우 어떡하지? 맵으로 받아오기-->	
		  
	  	SELECT *
	FROM (SELECT ROWNUM RNUM, A.*
			FROM(SELECT
                   Q_NO
		     	 , Q_TITLE
		     	 , Q_HIT
		     	 , CREATE_DATE
		     	 , MODIFY_DATE
		     	 , Q_CONTENT
		     	 , Q.STATUS
		    	 , SECRET_STATUS
		     	 , USER_NAME
		     	 , CATEGORY_NAME
		  	  FROM QUESTION Q
		   	  JOIN CATEGORY USING(CATEGORY_NO)
		   	  JOIN MEMBER USING(USER_NO)
		 	 WHERE Q.STATUS = 'N'
			 <if test="searchCondition != null and searchValue != null">
		     	<choose>
		     		<when test="searchCondition.equals('title')">
		     			AND Q_TITLE LIKE '%' || #{ searchValue } || '%'
		     		</when>
		     		<when test="searchCondition.equals('content')">
		     			AND Q_CONTENT LIKE '%' || #{ searchValue } || '%'
		     		</when>
		     		<when test="searchCondition.equals('writer')">
		     			AND USER_NAME LIKE '%' || #{ searchValue } || '%'
		     		</when>
		     	</choose>
		     </if>
		 	 ORDER BY Q_NO DESC) A)
  WHERE RNUM BETWEEN #{ startRow } AND #{ endRow }	<!-- ?부분 pi에서 가져온 스타트로우랑 엔드로우로 수정 -->  
	</select>
	
	
	<insert id="increaseCount" parameterType="_int">
		UPDATE QUESTION
		   SET Q_HIT = Q_HIT + 1
		 WHERE Q_NO = #{ qno }
	</insert>


	<select id="selectQA" parameterType="_int" resultMap="qaBoardResultMap">
		SELECT
               Q_NO
		     , Q_TITLE
		     , Q_HIT
		     , CREATE_DATE
		     , MODIFY_DATE
		     , Q_CONTENT
		     , Q.STATUS
		     , SECRET_STATUS
		     , USER_NAME
		     , CATEGORY_NAME
		  FROM QUESTION Q
		  JOIN CATEGORY USING(CATEGORY_NO)
		  JOIN MEMBER USING(USER_NO)
		 WHERE Q.STATUS = 'N'
		   AND Q_NO = #{ qno }
	</select>
	
	<insert id="insertQA" parameterType="com.kh.project.cs.model.vo.QABoard">
		INSERT
			INTO QUESTION
			(
				Q_NO
			  , Q_TITLE
			  , CREATE_DATE
			  , Q_CONTENT
			  , STATUS
			  , SECRET_STATUS
			  , USER_NO
			  , CATEGORY_NO	
			)
			VALUES
			(
			  	SEQ_Q_NO.NEXTVAL
			  , #{ qtitle }
			  , SYSDATE
			  , #{ qcontent }
			  , 'N'
			  , #{ secretStatus }
			  , #{ userNo }
			  , #{ categoryNo } 
			)
	</insert>
	
	<update id="updateQA" parameterType="com.kh.project.cs.model.vo.QABoard">
		UPDATE QUESTION
		   SET Q_TITLE = #{ qtitle }
		     , MODIFY_DATE = SYSDATE
		     , Q_CONTENT = #{ qcontent }
		     , SECRET_STATUS = #{ secretStatus }
		     , CATEGORY_NO = #{ categoryNo }
		    WHERE Q_NO = #{ qno }
	</update>
	
	<delete id="deleteQA" parameterType="_int">
		UPDATE QUESTION
		   SET STATUS = 'Y'
		 WHERE Q_NO = #{ qno } 
	</delete>
	
	<select id="selectAnswer" resultMap="answerResultMap">
		SELECT
		       A_NO
		     , A_CONTENT
		     , A_CREATE_DATE
		     , A_MODIFY_DATE
		     , STATUS
		     , Q_NO
		  FROM ANSWER
		 WHERE Q_NO = #{ qno }
		   AND STATUS = 'N' 
	</select>
	
	<insert id="insertReply" parameterType="com.kh.project.cs.model.vo.Answer">
		INSERT
			INTO ANSWER
			(
		       A_NO
		     , A_CONTENT
		     , A_CREATE_DATE
		     , A_MODIFY_DATE
		     , STATUS
		     , Q_NO
		    )
		    VALUES
		    (
		       SEQ_A_NO.NEXTVAL
		     , #{ acontent }
		     , SYSDATE
		     , NULL
		     , DEFAULT
		     , #{ qno }
		   )
	</insert>
	
	<update id="updateAnswer" parameterType="com.kh.project.cs.model.vo.Answer">
		UPDATE ANSWER
		   SET A_CONTENT = #{ acontent }
		     , A_MODIFY_DATE = SYSDATE
		 WHERE Q_NO = #{ qno }
	</update>
	
	<delete id="deleteAnswer" parameterType="_int">
		UPDATE ANSWER
		   SET STATUS = 'Y'
		 WHERE Q_NO = #{ qno }
	</delete>
	
</mapper>