<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.project.reservation.model.dao.ReservationMapper">
	<resultMap id="VeterinarianResultMap" type="com.kh.project.reservation.model.vo.VeterinarianAndTreatmentType">
		<id property="vno" column="VNO"/>
		<result property="vname" column="VNAME"/>
		<result property="status" column="STATUS"/>
		
		<association property="tno" javaType="com.kh.project.reservation.model.vo.TreatmentType">
			<id property="tno" column="TNO"/>
			<result property="tname" column="TNAME"/>
		</association>
		
	</resultMap>


	<select id="findVname" resultMap="VeterinarianResultMap">
		SELECT
			   A.VNO
			 , A.VNAME
			 , B.TNO
			 , B.TNAME
		  FROM VETERINARIAN A
		  JOIN TREATMENT_TYPE B ON (A.TNO = B.TNO)
		 WHERE A.TNO = #{tno}
	</select>


	<insert id="inputReser" parameterType="com.kh.project.reservation.model.vo.ReservationInfo">
		INSERT
		  INTO RESERVATION_INFORMATION
		  (
		  	   RESERVATION_NO
		  	 , RESERVATION_DATE
		  	 , RESERVATION_TIME
		  	 , RESERVATION_STATUS
		  	 , SYMPTOM
		  	 , TNO
		  	 , USER_NO
		  	 , VNO
		  )
		  VALUES
		  (
		  	    SEQ_RESERVATION_NO.NEXTVAL
		  	  , #{ reservation_date }
		  	  , #{ reservation_time }
		  	  , DEFAULT
		  	  , 'ㅇㅇ'
		  	  , #{ tno }
		  	  , '1'
		  	  , #{ vno }
		  )
	<selectKey resultType="_int" keyProperty="reservation_no" order="AFTER">
		 SELECT SEQ_RESERVATION_NO.CURRVAL
		 FROM DUAL
	</selectKey>
	</insert>
	
	<insert id="registDog" parameterType="com.kh.project.reservation.model.vo.DogInformationInput">
		INSERT
		  INTO DOG_INFORMATION_INPUT
		  (
		  	   RESERVATION_NO
		  	 , IN_DOG_NAME
		  	 , IN_BREED
		  	 , IN_DOG_GENDER
		  	 , IN_DOG_AGE
		  )
		  VALUES
		  (
		  	   SEQ_RESERVATION_NO.CURRVAL
		   	 , #{ in_dog_name }
		   	 , #{ in_breed }
		   	 , #{ in_dog_gender }
		   	 , #{ in_dog_age }
		  )
	</insert>
	
	<update id="modifyReser" parameterType="com.kh.project.reservation.model.vo.ReservationInfo">
	<!-- <selectKey resultType="_int" keyProperty="reservation_no" order="BEFORE">
		 SELECT SEQ_RESERVATION_NO.CURRVAL
		 FROM DUAL
	</selectKey>
 -->	UPDATE RESERVATION_INFORMATION
		   SET SYMPTOM = # { symptom }
		 WHERE RESERVATION_NO = #{ reservation_no }
	</update>
</mapper>