<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.project.subAdmin.model.dao.SubAdminMapper">

	<insert id="registVeterinarian" parameterType="com.kh.project.subAdmin.model.vo.Veterinarian">
		INSERT
		  INTO VETERINARIAN
		(
			VNO
		  , VNAME
		  , TNO
		  , PROFILE
		  , CAREER
		  , STATUS
		  , PHONE
		)
		VALUES
		(
			SEQ_VNO.NEXTVAL
		  , #{ vname, jdbcType=VARCHAR }
		  , #{ tno }
		  , #{ profile, jdbcType=VARCHAR }
		  , #{ career, jdbcType=VARCHAR }
		  , DEFAULT
		  , #{ phone, jdbcType=VARCHAR }
		)
	</insert>
	
 	<insert id="registHoliday" parameterType="com.kh.project.subAdmin.model.vo.Holiday">
		INSERT
		  INTO HOLIDAY
		(
			DAY
		  , VNO
		)
		VALUES
		(	
			#{ day }
		  , SEQ_VNO.CURRVAL
		 )
	</insert>

</mapper>