<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 상세</title>
     <!-- css -->
    <link type="text/css" rel="stylesheet" href="/css/sm/qDetail.css">
     <!-- 공통 css -->
     <link type="text/css" rel="stylesheet" href="/css/common.css">
     <!--font-->
     <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;400&display=swap" rel="stylesheet">
     <!-- jquery-->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
     <!--메인 스크립트 -->
     <script type="text/javascript" src="/js/common.js"></script>
 
</head>
<body>
    <!-- 헤더 -->
 	<div th:replace="fragments/header.html"></div>

    <!-- 내용 부분 -->
    <div id="main">
       
        <!-- 내용 표시 부분 -->
        <div class="board content">
            <div id="qaTitle">문의상세</div>
            <div class="board_wrap">
                <div class="line2 bold">[<span th:text="${board.categoryName}"></span>] <span class="qTitle" th:text="${board.QTitle}"></span></div>
                <div class="name bold" th:text="${board.userName}">김소민</div>
                <div class="date bold">
                	<span th:text="${#dates.format(board.createDate, 'yyyy. MM. dd.   HH:mm')}"></span>                 
                    <span><img class="smallicon" src="/images/sm/hit2.png" alt="조회수"> <span th:text="${board.QHit}"></span></span> 
                 
                    <img class="smallicon" src="/images/sm/reply2.png" alt="답변수">
                    <!-- 답변 있으면 1 없으면 0 -->
                    <span th:if="${board.answer} != null">1</span> 
                    <span th:unless="${board.answer} != null">0</span> 
                </div>
                <pre class="ctBox" th:text="${board.QContent}">
                    
                    아래 정보를 기입하시면 더욱 빠르고 정확한 안내가 가능합니다 <br>
                    예약 번호:  211 <br><br>

                    예약을 다른 날짜로 변경하고 싶어요.<br> 
                    가능한가요??
                </pre>
                
                <!-- 답변 영역 -->
                
                <!-- 답변 달렸을 경우 -->
                <th:block th:if="${board.answer} != null">     
                <div class="replyBox">
                    <span class="bold"><img class="replyIcon" src="/images/sm/rep.png"> 답변</span>
                    <span class="bold" th:text="${board.answer.AContent}">안녕하세요. 고객님 예약 번호 조회 결과 17일 오후 두시 예약하신걸로 나옵니다.  20일 이후로 시간 관계없이 변경 가능합니다. 변경 원하시는 날짜와 시간이 있으시면 남겨주세요.</span>
                    <span class="bold">
                    [[${#dates.format(board.answer.createDate, 'yyyy.MM.dd. HH:mm')}]]
                    <span class="btns">
                    <button class="miniBtn">수정</button><button class="miniBtn">삭제</button>
                    </span>
                    </span>
                </div>
                </th:block>
                
                <!-- 답변 안달렸을 경우 -->
                <th:block th:unless="${board.answer} != null">
                <div class="replyBox2" >
                <span><img class="plsWait" src="/images/sm/conversation.png"></span>
                <span id="noneReply">아직 등록된 답변이 없습니다. 조금만 기다려 주세요.</span>
                </div>
                </th:block>
                
                <input type="hidden" name="QNo" th:value="${board.QNo}">
                <button class="btn" id="gotoList" onclick="location.href='/qaBoard/list'">목록으로</button>
 <!--               <th:block th:if="${loginUser.userNo == QABoard.userNo}">--> 
                <button class="btn" id="modify" onclick="updateBoardView();">수정하기</button>
                <button class="btn" id="delete" onclick="deleteBoard();">삭제하기</button>
 <!--                </th:block>--> 
            </div>
        </div> 
    </div>

	<!-- 푸터 -->
	<div th:replace="fragments/footer.html"></div>

<!--  	<th:block th:if="${loginUser.userNo == QABoard.userNo}">
	<form>
		<input type="hidden" name="QNo" value="${board.QNo}">
	</form>
	</th:block>-->


	<form name="boardForm">
		<input type="hidden" name="QNo" th:value="${board.QNo}">
	</form>
	
	<script>
		function updateBoardView() {
			document.forms.boardForm.action = "/qaBoard/updateView";
			document.forms.boardForm.submit();
		}
	
		function deleteBoard(){
			if(confirm("이 게시글을 삭제하시겠습니까?")){
				document.forms.boardForm.action = "/qaBoard/delete";
				document.forms.boardForm.submit();
			}
		}
	</script>
	

</body>
</html>