<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>

	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 상세</title>
     <!-- css -->
    <link type="text/css" rel="stylesheet" href="/css/sm/qDetail.css">
     <!-- 공통 css -->
     <link type="text/css" rel="stylesheet" href="/css/common.css">
     <!--font-->
     <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;400&display=swap" rel="stylesheet">
     <!-- jquery-->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
     <!--메인 스크립트 -->
     <script type="text/javascript" src="/js/common.js"></script>
 <style>
 	.buttons {
 		margin:30px;
 		text-align:center;
 	}
 </style>
</head>
<body>
    <!-- 헤더 -->
   	<div th:replace="fragments/header.html"></div>
  
    <!-- 내용 부분 -->
    <div id="main">
       
        <!-- 내용 표시 부분 -->
        <div class="board content">
            <div id="qaTitle">문의상세</div>
            <div class="board_wrap">
                <div class="line2">[<span th:text="${board.categoryName}"></span>] <span class="qTitle" th:text="${board.qtitle}"></span></div>
                <div class="name" th:text="${board.userName}">김소민</div>
                <div class="date">

                	<span th:if="${board.modifyDate} != null" th:text="${#dates.format(board.modifyDate, 'yyyy. MM. dd.   HH:mm')}"></span>   
                	<span th:unless="${board.modifyDate} != null" th:text="${#dates.format(board.createDate, 'yyyy. MM. dd.   HH:mm')}"></span>              
                    <span><img class="smallicon" src="/images/sm/hit2.png" alt="조회수"> <span th:text="${board.qhit}"></span></span> 
                 
                    <img class="smallicon" src="/images/sm/reply2.png" alt="답변수">
                    <!-- 답변 있으면 1 없으면 0 -->
                    <span th:if="${board.answer} != null">1</span> 
                    <span th:unless="${board.answer} != null">0</span> 
                </div>
                <pre class="ctBox" th:text="${board.qcontent}">
                    
                    아래 정보를 기입하시면 더욱 빠르고 정확한 안내가 가능합니다 <br>
                    예약 번호:  211 <br><br>

                    예약을 다른 날짜로 변경하고 싶어요.<br> 
                    가능한가요??
                </pre>
                
                <!-- 답변 영역 -->
                
                <!-- 회원 -->
                <!-- 답변 달렸을 경우 -->
                <th:block th:if="${board.answer} != null">     
                <div id="ifadd">
                <div class="replyBox">
                    <span class="bold"><img class="replyIcon" src="/images/sm/rep.png"> 답변</span>
                    <pre class="acontent" th:text="${board.answer.acontent}">안녕하세요. 고객님 예약 번호 조회 결과 17일 오후 두시 예약하신걸로 나옵니다.  20일 이후로 시간 관계없이 변경 가능합니다. 변경 원하시는 날짜와 시간이 있으시면 남겨주세요.</pre>
                    <span class="bold">                
                    <th:block th:if="${board.answer.modifyDate} != null">  
                    [[${#dates.format(board.answer.modifyDate, 'yyyy.MM.dd. HH:mm')}]]
                    </th:block>
                    <th:block th:unless="${board.answer.modifyDate} != null"> 
                    [[${#dates.format(board.answer.createDate, 'yyyy.MM.dd. HH:mm')}]]
                    </th:block>
 					<!-- admin한테만 버튼 보이게 -->
 					<th:block sec:authorize="hasRole('ADMIN')">            
                    <span class="btns">
                    <button class="miniBtn" onclick="updateReplyView();">수정</button><button class="miniBtn" onclick="deleteReply();">삭제</button>
                    </span>
                    </th:block>                
                    <!-- 여기까지 admin -->
                    </span>
                    
                </div>
                </div>  
                </th:block> 

                 
                <!-- 관리자 -->
 				<!-- 답변 안달았을 경우 -->
 				<th:block sec:authorize="hasRole('ADMIN')">
 				<th:block th:unless="${board.answer} != null">
 				<div class="addreplyBox" id="addreplyBox">
                    <textarea id="replyArea" name="aContent" onKeyUp="javascript:fnChkByte(this,'4000')"></textarea>
                    <button class="bigBtn" onclick="addReply();">답변등록</button>
                    <div class="byte"><span id="byteInfo">0</span><span id="byte"> / 4000bytes</span></div>
                </div>              
 				</th:block>
 				</th:block>
 		


				<div id="ifadd"></div>

	
				<div class="buttons">
	                <button class="btn" id="gotoList" onclick="location.href='/qaBoard/list'">목록으로</button>
	                <th:block sec:authorize="isAuthenticated()">
	                <th:block th:if="${board.userId} == ${#authentication.principal.id}"> 
	                <button class="btn" id="modify" onclick="updateBoardView();">수정하기</button>
	                <button class="btn" id="delete" onclick="deleteBoard();">삭제하기</button>
	                </th:block>
	                <th:block sec:authorize="hasRole('ADMIN')">
	                <button class="btn" id="delete" onclick="deleteBoard();">삭제하기</button>
	                </th:block>
	                </th:block>
 				</div>

 
            </div>
        </div> 
    </div>
    
          <!-- 빠른 메뉴 부분 -->
	        <div id="aside">
	            <div class="quick-menu">
	                <ul>
	                    <li>
	                    	<!-- 로그인 안했을시 로그인 페이지로 이동 변경하기 -->
	                        <a th:href="@{/qaBoard/insert}">
	                            <img src="/images/common/inquiry.png">
	                            <p>문의하기</p>
	                        </a>
	                    </li>
	                    <li>
	                        <a th:href="@{/about/device}">
	                            <img src="/images/common/medical device.png">
	                            <p>의료 장비</p>
	                        </a>
	                    </li>
	                    <li>
	                        <a th:href="@{/about/location}">
	                            <img src="/images/common/way to come.png">
	                            <p>오시는 길</p>
	                        </a>
	                    </li>
	                </ul>
	            </div>
	            <div class="move-to-top">
	                <a href="#"><img src="/images/common/arrow.png"></a>
	            </div>
	        </div>
	  
    

	<!-- 푸터 -->
	<div th:replace="fragments/footer.html"></div>


	<!-- 답변 등록  -->
	<script>
		/* 시큐리티 모듈에서 ajax 호출 시 crsf token 추가 전송 필요,
		request header에 이용할 정보 설정 */
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		$(function() {
		    $(document).ajaxSend(function(e, xhr, options) {
		        xhr.setRequestHeader(header, token);
		    });
		});
		
		/* 답변 글자수 체크 */
		function fnChkByte(obj, maxByte) {
		    let str = obj.value;
		    let str_len = str.length;
		
		
		    let rbyte = 0;
		    let rlen = 0;
		    let one_char = "";
		    let str2 = "";
		
		
		    for(let i=0; i<str_len; i++) {
		        one_char = str.charAt(i);
		        if(escape(one_char).length > 4) {
		            rbyte += 3;                //한글3Byte
		        } else {
		            rbyte++;                   //영문 등 나머지 1Byte
		        }
		        if(rbyte <= maxByte) {
		            rlen = i+1;                //return할 문자열 갯수
		        }
		     }
		     if(rbyte > maxByte) {
		        // alert("한글 "+(maxByte/3)+"자 / 영문 "+maxByte+"자를 초과 입력할 수 없습니다.");
		        alert("답변은 최대 " + maxByte + "byte를 초과할 수 없습니다.")
		        str2 = str.substr(0,rlen);     //문자열 자르기
		        obj.value = str2;
		        fnChkByte(obj, maxByte);
		     } else {
		        document.getElementById('byteInfo').innerText = rbyte;
		     }
		}
		
		
		
		/* 답변 등록 */
		function addReply() {
			qno = '[[${board.qno}]]';
			$.ajax({
				url : "/qaBoard/insertReply", 
				type : "post",
				dataType : "json",
				data : { qno : qno, AContent : $("#replyArea").val() },
				success : function(data) {
					console.log(data);
					
					const div = document.getElementById('addreplyBox');
					 
					div.remove();
					
					const div2 = document.getElementById('ifadd');

					
					div2.innerHTML = 
		            '<div class="replyBox"><span class="bold"><img class="replyIcon" src="/images/sm/rep.png"> 답변</span><pre class="acontent">'
		            + data.acontent + '</pre><span class="bold">' + data.createDate + 
		            '<span class="btns"><button class="miniBtn" onclick="updateReplyView();">수정</button><button class="miniBtn" onclick="deleteReply();">삭제</button></span></span>';
	
				},
				error : function(e) {
					console.log(e);
				}
			});
		}
		
		
	</script>
	


	<script>
		function updateReplyView() {
			
			const acontent = document.querySelector(".acontent");
			let text = acontent.innerText;
			const div = document.getElementById('ifadd');
			div.innerHTML =
				'<div class="addreplyBox" id="addreplyBox"><textarea id="replyArea" name="aContent" onKeyUp="javascript:fnChkByte(this,`4000`)">' + text + '</textarea><button class="bigBtn" onclick="updateReply();">답변수정</button></div><div class="byte"><span id="byteInfo">0</span><span id="byte"> / 4000bytes</span></div>';
			
		
		}
		
		function updateReply() {
			/* 수정한 내용만 가져가면 됨*/
			let param = {};
			qno = '[[${board.qno}]]';

			acontent = $("[name=aContent]").val();
			
			param.qno = qno;
			param.acontent = acontent;
			
			console.log(param);
	
			$.ajax({
				url : "/qaBoard/updateReply/" + qno,
				data : JSON.stringify(param),
				dataType : "json",
				contentType : "application/json; charset=utf-8",
				type : "put",
				success : function(data) {
					console.log(data)
					/*수정후 화면*/
					date = '[[${#calendars.format(#calendars.createNow(), 'yyyy.MM.dd.  HH:mm')}]]';
					acontent = $("[name=aContent]").val();
					const div = document.getElementById('ifadd');
					div.innerHTML =
						'<div class="replyBox"><span class="bold"><img class="replyIcon" src="/images/sm/rep.png"> 답변</span><pre class="acontent">'
			            + acontent + '</pre><span class="bold">' + date + 
			            '<span class="btns"><button class="miniBtn" onclick="updateReplyView();">수정</button><button class="miniBtn" onclick="deleteReply();">삭제</button></span></span>';
					
				},
				error : function(e) {
					console.log(e);
				}
			});
			
		}
		
		
		function deleteReply(){
			qno = '[[${board.qno}]]';
			
			if(!confirm("정말 삭제하시겠습니까?")) return;
			
			$.ajax({
				url : "/qaBoard/deleteReply/" + qno,
				dataType : "json",
				type : "delete",
				success : function(data) {
					console.log(data)
					/*삭제 화면 처리*/
					const acontent = document.querySelector(".acontent");
					let text = acontent.innerText;
					const div = document.getElementById('ifadd');
					div.innerHTML =
						'<div class="addreplyBox" id="addreplyBox"><textarea id="replyArea" name="aContent"></textarea><button class="bigBtn" onclick="updateReply();">답변수정</button></div>';
				},
				error : function(e) {
					console.log(e);
				}
			});
		}
		
		

	</script>
	


	<form name="boardForm">
		<input type="hidden" name="qNo" th:value="${board.qno}">
	</form>
	
	<!-- 작성한 사람에게만 보이는 스크립트 -->
	<script>
		function updateBoardView() {
			document.forms.boardForm.action = "/qaBoard/updateView";
			document.forms.boardForm.submit();
		}
	
		function deleteBoard(){
			if(confirm("이 게시글을 삭제하시겠습니까?")){
				document.forms.boardForm.action = "/qaBoard/delete";
				document.forms.boardForm.submit();
			}
		}
	</script>
	

</body>
</html>