<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의글 작성</title>
     <!-- css -->
	 <link type="text/css" rel="stylesheet" href="/css/sm/questionPage.css">
     <!-- 공통 css -->
     <link type="text/css" rel="stylesheet" href="/css/common.css">
     <!--font-->
     <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;400&display=swap" rel="stylesheet">
     <!-- jquery-->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
     <!--메인 스크립트 -->
     <script type="text/javascript" src="/js/common.js"></script>

</head>
<body>
    <!-- 헤더 -->
 	<div th:replace="fragments/header.html"></div>

    <!-- 내용 부분 -->
    <div>
       <form th:action="@{/qaBoard/insert}" method="post" onsubmit="return formCheck(this)">
      <!--  <input type="hidden" name="userNo" th:value="21"> -->
        <!-- 내용 표시 부분 -->
        <div class="board content">
            <div id="qaTitle">문의하기</div>
            <div class="board_wrap">
                <div class="qTitle">
      
                    <select id="category" name="categoryNo">
                        <option value="10">일반문의</option>
                        <option value="20">예약문의</option>
                        <option value="30">기타문의</option>
                    </select>
       
                    <input type="text" id="titleArea" maxlength="100" name="qtitle">

                </div>
                <textarea name="qcontent" class="ctBox" maxlength="4000"> 아래 정보를 기입하시면 더욱 빠르고 정확한 안내가 가능합니다 
 예약 번호:
                </textarea>

                <div class="checks">

                    <input type="radio" class="lockYN" id="unlock" name="secretStatus" value="N">
                    <label for="unlock">공개글</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" class="lockYN" id="lock" name="secretStatus" value="Y" checked>
                    <label for="lock">비밀글</label>

                </div>
            <!--    <div class="replyBox">
                    <span class="bold"><img class="replyIcon" src="../resources/images/sm/rep.png">답변</span>
                    <span>안녕하세요. 고객님 예약 번호 조회 결과 17일 오후 두시 예약하신걸로 나옵니다.  20일 이후로 시간 관계없이 변경 가능합니다. 변경 원하시는 날짜와 시간이 있으시면 남겨주세요.</span>
                    <span class="bold">2021.12.09</span>
                </div>-->
                <div class="btnArea">
                    <button class="btn btnSpace" id="gotoList">취소</button>
                    <button class="btn" id="write" type="submit">등록</button>
                </div>
            </div>
        </div>
      </form> 
    </div>
    
    <!-- 푸터 -->
	<div th:replace="fragments/footer.html"></div>

<script>
	function formCheck(frm) {
		
		if(frm.qtitle.value == ""){
			alert("제목을 입력해주세요");
			frm.qtitle.focus();
			return false;
		}

}

</script>

</body>
</html>