<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
	
<!-- 폰트  -->
<link
	href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap"
	rel="stylesheet">
<!-- 공통 css -->
<link type="text/css" rel="stylesheet" href="/css/common.css">
<!-- 나현 css (메인, 관리자)-->
<link type="text/css" rel="stylesheet" href="/css/nh.css">
<!-- 공통 js -->
<script type="text/javascript" src="/js/common.js"></script>
<!-- css -->
<link type="text/css" rel="stylesheet" href="/css/member/idFind.css">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
<title>다나은 동물병원</title>
</head>
<body>
	<div th:replace="fragments/header.html"></div>
	<div class="photo">
		<img class="logo" src="/images/member/memberService.png">
	</div>
	<div class="wrapper">
		<img src="/images/member/memberInfo.png">
		<div class="infoForm item">
			<label class="label">아이디 찾기</label><br>
			<br> <label class="etc">회원가입 시 작성한 이름과 메일 주소를 입력해주세요.</label><br>
			<br>
			<br>
			<br>
			<br>

			<form id="idFindForm" th:action="@{/member/idFind}" method="post">
				<label class="label2">이름 </label> <input class="name" type="text"
					name="name" id="userName" size="20" maxlength="10" placeholder="이름을 입력하세요"><label id="userNameCheck_div">&nbsp;</label><br>

				<label class="label2">이메일 </label> <input class="email" type="email"
					name="email" id="email" placeholder="@포함하여 전부 입력" required><label id="emailCheck_div">&nbsp;</label>

				<br>
				<br>
				<br>
				<br>
				<br> <input type="button" class="button btn1" id="before"
					th:onclick="|location.href='@{/member/login}'|" value="이전으로">
				<input type="button" id="idFindForm" class="button btn2" value="확인"><br>
				<br> <label class="label2">비밀번호를 찾으시나요 ? </label> <a
					class="a a1" th:href="@{/member/pwdFind}">비밀번호 찾기 > </a> <br>
				<br>
				<br>

			</form>






		</div>

	</div>
	<!-- 푸터 -->
	<div th:replace="fragments/footer.html"></div>





</body>
</html>