<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet"> 
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <!-- 공통 js -->
    <script type="text/javascript" src="/js/common.js"></script>
    
    <!-- css -->
    <link type="text/css" rel="stylesheet" href="/css/member/login.css">

<title>다나은 동물병원</title>


</head>
    <body>
    <div th:replace="fragments/header.html"></div>
        <div class="photo">
            <img class="logo" src="/images/member/memberService.png">
        </div>
        <div class="wrapper">
            <img src="/images/member/memberInfo.png"> 
            <div class="infoForm item">
            
    
               <label class="label">로그인</label><br><br>
               <label class="etc">다나은 동물병원의 회원이 되시면 다양한 정보를 이용하실 수 있습니다</label><br><br><br><br>

			<form th:action="@{/member/login}" method="post"> 		
				<!-- <label th:if="${error}=='true'" th:text="${exception}" class="invalid"></label><br><br> -->
               <input class ="login all" type="text" name="username" size="20" maxlength="10" placeholder="아이디를 입력하세요"><br><!-- 나중에 해볼 때는 리다이렉트 풀고 모델에 넣고 th:value="${username}" -->
    
               <input class ="pwd all" type="password" name="password" minlength="8" maxlength="15" placeholder="비밀번호를 입력하세요"><br><br><br>             

               <a class="a a1" th:href="@{/member/idFind}">아이디 찾기</a>
               <a class="a" th:href="@{/member/pwdFind}">비밀번호 찾기</a>
               <a class="a" th:href="@{/member/signUp}">회원가입</a>
               <br><br><br>
               


                <input type="submit" class="button" id="loginBtn" value="로그인"><br><br>

             </form>


            </div>

        </div>
       
        
        
        
<!-- 푸터 -->
    <div th:replace="fragments/footer.html"></div>
</body>
</html>