<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet"> 
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인, 관리자)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <!-- 공통 js -->
    <script type="text/javascript" src="/js/common.js"></script>
    
    <!-- css -->
    <link type="text/css" rel="stylesheet" href="/css/member/signUp.css"> 
    <!-- js -->
     <!-- <script type="text/javascript" src="/js/signUp2.js"></script>  -->

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>다나은 동물병원</title>
</head>
    <body>   
    <div th:replace="fragments/header.html"></div>
    
        <div class="photo">
            <img class="logo" src="/images/member/memberService.png">
        </div>
        <div class="wrapper">
            <img src="/images/member/memberInfo.png"> 
            <div class="infoForm item">
                <label class="etc">회원 가입을 위해 모든 항목을 기입해주십시오.</label><br><br>
                 <form id="joinForm" th:action="@{/member/signUp}" method="post" onsubmit="return validate();">
                <label for="userId" class="label">아이디 </label> 
                <input class ="input all" type="text" name="id" id="userId" size="20" minlength="8" maxlength="10" placeholder="아이디를 입력하세요" required>
                <input type="button" class="button1" id="idCheck" value="중복확인">  
                <br>
                <label for="userPwd" class="label">비밀번호 </label> 
                <input class ="input all" type="password" name="pwd" id="userPwd" minlength="8" maxlength="15" placeholder="비밀번호를 입력하세요" required>
                <label id="pwdCheck_div">&nbsp;</label>
                <br>
                <label for="userPwd2" class="label">비밀번호 재확인 </label> 
                <input class ="input all" type="password" name="pwd2" id="userPwd2" maxlength="15" placeholder="비밀번호를 입력하세요" required>
                <label id="pwdCheck_div2">&nbsp;</label>

                <br>
                <label for="userName" class="label">이름 </label> 
                <input class ="input all" type="text" name="name" id="userName" placeholder="한글로 2~10자리 이름입력" required>
                <label id="userNameCheck_div">&nbsp;</label>
                <br>
                <label for="phone" class="label">휴대폰 번호 </label> 
                <input class ="input all" type="tel" name="phone" id="phone" placeholder="-없이 입력" required>
                <label id="phoneCheck_div">&nbsp;</label>
                <br>
                <label for="email" class="label">이메일 </label> 
                <input class ="input all" type="email" name="email" id="email" placeholder="@포함하여 전부 입력" required>
                <label id="emailCheck_div">&nbsp;</label>
                <br>
                <label class="label">주소 </label> 
                <input type="text" name="address"
                class ="postcodify_postcode5 select all" placeholder="우편번호" id="address" readonly required>
                <button type="button" class="button1" id="postcodify_search_button">검색</button> <label id="addressCheck_div">&nbsp;</label>
                <br>
                <label class="label"> </label> 
                <input type="text" name="address"
                class ="postcodify_address input2 all" placeholder="도로명주소" readonly required>
                <br>
                <label class="label"> </label> 
                <input type="text" name="address"
                class ="postcodify_details input2 all" placeholder="상세주소" required>
                <br>
                <label for="petName" class="label">반려견 이름 </label> 
                <input class ="input all" type="text" name="petName" id="petName" placeholder="한글로 1자 ~ 10자리 입력" maxlength="10" required>
                <label id="petNameCheck_div">&nbsp;</label>
                <br>
                <label for="petAge" class="label">반려견 나이 </label> 
                <input class ="input all" type="text" name="petAge" id="petAge" placeholder="만 나이로 숫자만 입력" maxlength="2" required>
                <label id="petAgeCheck_div">&nbsp;</label>
                <br>
                <label for="petBreed" class="label">견종 </label> 
                <select class ="input all" name="breed" required>
                    <option value="골든 리트리버">골든 리트리버</option>
                    <option value="말티즈">말티즈</option>
                    <option value="비글">비글</option>
                    <option value="시바 이누">시바 이누</option>
                    <option value="시베리안 허스키">시베리안 허스키</option>
                    <option value="시츄">시츄</option>
                    <option value="요크셔테리어">요크셔테리어</option>
                    <option value="진돗개">진돗개</option>
                    <option value="푸들">푸들</option>
                    <option value="포메라니언">포메라니언</option>
                    <option value="기타">기타</option>
                </select>  
                <br>
                <label for="neuteredStatus" class="label">중성화 유무 </label> 
                <select class ="select all" name="status" required>
                    <option value="예">예</option> 
                    <option value="아니요">아니요</option> 
                    <option value="모름">모름</option> 
                </select>  
                <br>
                <label for="petGender" class="label" name="petGender" >반려견 성별 </label> 
                <select class ="select all" name="petGender" required>
                    <option value="암컷">암컷</option> 
                    <option value="수컷">수컷</option> 
                </select>  
                <br>

                
                
				<button type="submit" class="button2">가입하기</button>
                </form>

            </div>

        </div>


 <script type="text/javascript" src="/js/signUp.js"></script> 

   

<!-- 푸터 -->
    <div th:replace="fragments/footer.html"></div>


</body>
</html>