    <!-- 관리자페이지 메뉴바 -->
    <div id="adminpage-wrap" th:fragment="fragment-nav(currnet)">
        <div id="admin-menu">
            <div class="logo-area">
                <img src="/images/common/logo.png">
            </div>
            <div class="admin-menuList">
                <ul class="menu-icon">
                    <li th:classappend="${currnet == '1'} ? activemenu"><a th:href="@{/admin/member/list}">
                        <img src="/images/admin/member_manage.png" class="menuiconimg">
                        <p class="ai">회원 관리</p>
                    </a></li>
                    <li th:classappend="${currnet == '2' || currnet == '2-1'} ? activemenu"><a href="#">
                        <img src="/images/admin/reserve_manage.png" class="menuiconimg">
                        <p class="ai">예약 관리</p><img src="/images/admin/downarrow.png" class="downarrow"></a>
                        <ul class="menucate">
                            <li><a th:href="@{/admin/reservation/list}"><p class="ai2" th:classappend="${currnet == '2'} ? ' ' + activesubmenu">예약 목록 관리</p></a></li>                  
                            <!-- <li><a th:href="@{/admin/sub_holiday}"><p class="ai2" th:classappend="${currnet == '2-1'} ? ' ' + activesubmenu">휴일 관리</p></a></li> -->
                        </ul>
                    </li>
                    <li th:classappend="${currnet == '3'} ? activemenu"><a th:href="@{/admin/cs/list}">
                        <img src="/images/admin/qna_manage.png" class="menuiconimg">
                        <p class="ai">문의 관리</p>
                    </a></li>
                    <li th:classappend="${currnet == '4' || currnet == '4-1' || currnet == '4-2'} ? activemenu"><a href="#">
                        <img src="/images/admin/hospital_manage.png" class="menuiconimg">
                        <p class="ai">병원 관리</p><img src="/images/admin/downarrow.png" class="downarrow"></a>
                        <ul class="menucate">
                            <li><a th:href="@{/admin/sub_veterinarianModify}"><p class="ai2" th:classappend="${currnet == '4'} ? ' ' + activesubmenu">의료진 관리</p></a></li>                  
                            <li><a th:href="@{/admin/sub_veterinarianRegist}"><p class="ai2" th:classappend="${currnet == '4-1'} ? ' ' + activesubmenu">의료진 등록</p></a></li>
                            <li><a th:href="@{/admin/hospital/deviceList}"><p class="ai2" th:classappend="${currnet == '4-2'} ? ' ' + activesubmenu">의료장비 관리</p></a></li>
                        </ul>
                    </li>
                    <li th:classappend="${currnet == '5'} ? activemenu"><a href="#">
                        <img src="/images/admin/display_manage.png" class="menuiconimg">
                        <p class="ai">화면 관리</p>
                    </a></li>
                    <li th:classappend="${currnet == '6'} ? activemenu"><a th:href="@{/admin/account/list}">
                        <img src="/images/admin/config_manage.png" class="menuiconimg">
                        <p class="ai">계정 관리</p>
                    </a></li>
                </ul>
            </div>
        </div>
        <!-- 관리자 페이지 내용 -->
        <div id="admincontent-wrap">
            <!-- 화면 상단 바(공통) -->
            <div class="topinfo">
                <p>다나은 동물병원</p>
                <div class="admin-nameinfo">
                	<th:block sec:authorize="isAuthenticated()">
                    <img src="/images/admin/member_manage.png">
                    <span sec:authentication="principal.name"></span><span>님</span>
                    <ul class="sub-menulist2">
                        <li><a th:href="@{/admin/mypage}">마이페이지</a></li>
                        <li><a th:href="@{/member/logout}">로그아웃</a></li>
                    </ul>
                    </th:block>
                </div>
            </div>
