

/* GENERAL BUTTON STYLING */
.button,
.button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.button {
  background: none;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  display: block;
  font-size: 14px;
  margin: 10px auto;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
}

.button::before,
.button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.button:hover {
  color: #C4C4C4;
  background-color: #fff;
  border: 2px solid #C4C4C4;
  cursor: pointer;
}

/* BUTTON 5 */
.btn-5 {
    overflow: hidden;
  }
  
.btn-5::after {
    /*background-color: #f00;*/
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
}
  
.btn-5:hover:after {
    height: 100%;
    width: 135%;
}

/*--------------- mainpage -----------------------*/
#main-content{
    margin: 20px 50px;
}

.swiper{
    width: 100%; 
    height: 600px; 
    margin-bottom:30px;
}

.swiper-slide > img{
    width: 100%; 
    height: 100%;
}
.swiper-caption{
    z-index: 1;
    position: absolute;
    background-color: rgba(112, 179, 205, 0.75);
    padding: 20px;
}
.caption1{
    top: 300px;
    left: 700px;
}
.caption2{
    top: 200px;
    left: 200px;
}
.caption3{
    top: 200px;
    left: 400px;
}
.swiper-caption > h1 > strong, .swiper-caption > h3{
    color: #fff;
    line-height: 70px;
}
/* .fade-in-box {
    display: inline-block;
    background-color: rgba(112, 179, 205, 0.75);
    padding: 10px;
    animation: fadein 3s; */
    /* Firefox */
    /* -moz-animation: fadein 3s;  */
    /* Safari and Chrome */
    /* -webkit-animation: fadein 3s; */
    /* Opera */
    /* -o-animation: fadein 3s; 
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */
 /* Safari and Chrome */
/* @-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */


#main-content h2{
    text-align: center; 
    margin: 100px;
}
#main-content .department-wrap{
    display: flex; 
    margin: 100px; 
    justify-content: space-around;
}
#main-content .department-wrap .department{
    text-align: center;
}
#main-content .department-wrap .dep-img{
    margin: 20px 50px;
}
#main-content .department-wrap .dep-img > img{
    width:120px; 
    height:120px; 
    border-radius: 50%;
}
#main-content .department-wrap .department .dep-text{
    font-weight: 900;
}
#main-content .info{
    display: flex; 
    margin: 100px;
}
#main-content .time-info-wrap, .address-info{
    width: 500px; 
    height: 200px; 
    margin: 50px 0;
} 
#main-content .time-info-wrap{
    background-color: #85B1D6; 
    color: #fff;
}
#main-content .time-info{
    display: flex;
}
#main-content .time-info-wrap > h3{
    margin-top: 20px; 
    margin-left: 40px; 
    color: #fff;
}
#main-content .time-info .time-left, .time-right{
    margin: 10px auto;
}
#main-content .time-info .time-left > p{
    margin-top: 30px; 
    text-align: center; 
    color: #fff; 
    font-size: 15px;
}
#main-content .time-info .time-right > ul > li{
    margin-top: 15px; 
    text-align: center;
}
#main-content .time-info .time-right .time-ele{
    color: #fff; 
    margin-top: 10px; 
    margin-left: 20px;
}
#main-content .address-info{
    background-color: #C4C4C4;
}
#main-content .address-info h3, .addressinfo{
    color: #fff;
}
#main-content .address-info > h3{
    margin: 20px 40px;
}
#main-content .address-info > .addressinfo{
    margin-left: 40px;
}
#main-content .address-btn{
    margin: 30px 200px;
    padding: 10px 15px;
}

/*----------------- hospitalInfo ------------------*/

/* 병원소개 내용 */
.hospital-info{
    margin: 50px 0;
}
.hospital-info .info-title, .info-subtitle{
    text-align: center; 
    margin: 30px;
}
.hospital-info .info-title{
    font-weight: 900; 
    font-size: 25px;
} 
.hospital-info .info-content{
    display: flex; 
    line-height: 30px;
}
.hospital-info .info-content > img{
    width: 300px; 
    height: 200px;
     margin: 20px; 
     box-shadow: 5px 5px 3px 3px #F0EFE1;
}
.hospital-info .info-content .info-text{
    padding-top: 40px; 
    width: 550px; 
    margin-left: 20px;
}
.hospital-info .info-text2{
    margin: 30px 30px 100px 30px; 
    line-height: 30px;
}

/* 의료진 소개 내용 */
.veterinary-info-box{
    display: block; 
    margin: 80px 0;
}
.veterinary-info-box > img{
    max-width: 50%; 
    height: auto; 
    vertical-align: middle; 
    float: left;
}
.veterinary-info-box .vinfo-content{
    float: right; 
    width: 50%; 
    margin-bottom:100px;
}
.vinfo-content .vinfo-name{
    margin: 30px 0; 
    font-weight: 800; 
    font-size: 30px;
}
.vinfo-content .vinfo-subject{
    margin-left: 10px;
}
.vinfo-wrap{
    margin: 50px 0;
}
.vinfo-wrap > h4{
    border-bottom: 1px solid #C4C4C4; 
    border-left: 3px solid #85B1D6; 
    width: 400px; 
    padding: 5px 10px;
    font-size: 17px;
}
.vcontent{
    margin: 30px 0; 
    line-height: 30px; 
    font-size: 15px;
}

/* 의료 장비 소개 내용 */
.hospital-info > .vdevice{
    font-size: 14px; 
    line-height: 20px;
}
.vdevice-select{
    display: flex;
}
.vdevice-info-btn{
    margin: 20px;
}
.vdevice-subject{
    border-bottom: 3px solid #C4C4C4; 
    line-height: 50px; 
    width: 200px; 
    text-align: center; 
    margin: 50px 10px;
}
.vdevice-subject:hover{
    cursor: pointer;
    border-bottom: 3px solid #85B1D6; 
}
.vde-active{
    border: 1px solid #C4C4C4;
    font-weight: 800; 
    pointer-events: none;
}
.vdevice-list{
    margin-bottom: 100px;
}
.vdevice-tb-row{
    border-bottom: 1px solid #C4C4C4;
    min-height: 200px;
    display: table;
}
.vdevice-img{
    display: table-cell; 
    vertical-align: middle;
} 
.vdevice-img > img{
    width: 180px;
    height: 180px;
    margin: 0 20px;
}
.vdevice-info{
    display: table-cell; 
    vertical-align: middle;
    padding: 0 20px;
}
.vdevice-name{
    margin: 10px 0; 
}

.vd-model{
    margin-left: 10px;
    color: #85B1D6;
}
.vdevice-content{
    line-height: 1.5;
    font-size: 13px;
}

/* 오시는 길 소개 내용 */
.map-area{
    width: 600px;
    height: 450px;
    border: 1px solid black;
    margin: 50px auto;
}
.new-addressInfo, .addressInfo{
    margin: 50px;
}
.c1{ 
    text-align: center;
}
.transInfo{
    margin: 100px 50px;
}
.use-trans{
    display: flex;
    margin: 40px;
}
.use-title{
    width: 150px;
}
.station{
    margin-left: 50px;
}
.station > p{
    margin-bottom: 20px;
}
.greenBus{
    color: #386DE8;
}
.redBus{
    color: #FC5851;
    margin-left: 40px;
}