@charset "UTF-8";



        .board.content {
            min-width: 800px;
            width: 1000px;
            margin: 0px auto;
            /*text-align: center;*/
            margin-bottom: 80px;
            margin-top:40px;
        }


        #qaTitle {
            margin-top: 15px;
            margin-bottom: 46px;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
        }

      
        .line2 {
            
            border-bottom: 2px solid #85B1D6;
            font-size: 0.85rem;
            padding-bottom: 10px;
            padding-top: 4px;
            font-size: 1rem;
            padding-left: 20px;
        }

        .btn {
            background-color: #85B1D6;
            color: white;
            width: 85px;
            height: 28px;
            border: none;
            position: relative;
            left: 40%;
            border-radius: 4px;
            margin: 5px;
        }

        .btn:hover {
            opacity: 30%;
        }

        .footer{
            width: 100%;
            height: 115px;
            background-color: rgba(240, 239, 225, 1);
            position: absolute;

        }

        .board_wrap {
            width: 900px;
            margin-left: 50px;
            font-size: 0.85rem;
        }

        .ctBox {
            min-height: 280px;
            width: 860px;
            padding: 20px;
            border:1px solid #85B1D6;
            border-radius: 10px;
            font-size:0.9rem;
            
            max-width:860px;
        	word-wrap: break-word;
        	white-space: pre-wrap;
        	white-space: -moz-pre-wrap;
        	white-space: -pre-wrap;
        	white-space: -o-pre-wrap;
        	word-break:break-all;
        }

        .name,.date{
            padding-left: 20px;
            font-size: 0.9rem;
        }

        .name{
            padding-top: 15px;
        }

        .date{
            padding-bottom: 15px;
        }

        .replyBox{
            width: 822px;
            min-height: 90px;
            background-color: rgba(241, 249, 255, 1);
            margin-top: 24px;
            padding: 40px;

            margin-bottom: 32px;
            border-radius: 8px;


            display: grid;
            grid-template-columns : 1.5fr 7fr 1.7fr;
            justify-items:self-start;
            grid-gap:2rem;
            
            font-size:0.9rem;
        }
        
        .replyBox2{
        	width: 822px;
        	min-height:90px;
        	background-color: rgba(241, 249, 255, 1);
        	margin-top: 24px;
            padding: 40px;
            margin-bottom: 40px;
            border-radius: 8px;
    		padding-top:30px;
        }
        
        #noneReply {
        	text-align:center; 
        	font-weight:bold; 
        	font-size:0.9rem;
			position:relative;
			bottom:8px;
        }

		.plsWait {
			width:43px;		
			margin-left:31%;
			margin-top:22px;
			
		}
		
        .smallicon {
            width: 21px;
            margin-left: 5px;
           
        }
        .miniBtn {
            width: 34px;
            background-color: #85B1D6;
            color: white;
            border: none;
            border-radius: 4px;
            margin: 4px;
        }

        .miniBtn:hover {
            opacity: 30%;
        }

		.btns {
			margin-left:21px;
		}
        .replyIcon{
            width: 12px;
            margin-right: 8px;
        }

        .bold {
            font-weight: bold;
        }
        
        .addreplyBox{
            width: 900px;
            min-height: 80px;
            height: 150px;
            /*background-color: rgba(241, 249, 255, 1);*/
            margin-top: 20px;
            /*padding: 30px;*/
            margin-bottom: 57px;
            border-radius: 6px;

           /* display: grid;
            grid-template-columns : 2fr 12fr 2fr;
            justify-items:self-start;
            grid-gap:3rem;*/
        }
        
         #replyArea{
            width: 760px;
            height: 120px;
            border:1px solid #85B1D6;
            border-radius: 7px;
            margin-right: 2px;
            padding: 20px;
            margin-top:9px;
            font-size:0.9rem;
            
            
        }

        .bigBtn {
            width: 87.5px;
            height: 164px;
            background-color: #85B1D6;
            color: white;
            border: none;
            border-radius: 6px;
            /*display: inline;*/
            position: relative;
            bottom: 76px;
            margin-left: 5px;
           
        }
        
        /* pre 화면에 안깨지게 */
        .acontent {
        	max-width:800px;
        	word-wrap: break-word;
        	white-space: pre-wrap;
        	white-space: -moz-pre-wrap;
        	white-space: -pre-wrap;
        	white-space: -o-pre-wrap;
        	word-break:break-all;
        }