<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <!-- 자바스크립트 -->
    <script type="text/javascript" src="/js/common.js"></script> 

    <title>의료 장비 소개</title>
</head>	
 <div th:replace="fragments/header.html"></div>
 
     <!-- 내용 부분 -->
    <div id="main">
        <!-- 사이드 메뉴 -->
        <div id="side-menu"> 
            <div class="sidenav">
                <ul>
                    <li><a th:href="@{/about/hospital}">병원 소개</a></li>
                    <li><a th:href="@{/about/team}">의료진 소개</a></li>
                    <li class="li-active"><a th:href="@{/about/device}">의료 장비 소개</a></li>
                    <li><a th:href="@{/about/location}">오시는 길</a></li>
                </ul>      
            </div>
        </div>
        <!-- 내용 표시 부분 -->
        <div id="content">
            <!-- 현재 페이지 경로 표시 -->
            <div class="path-info">
                <ul>
                    <li>HOME</li>
                    <li>병원 소개</li>
                    <li>의료 장비 소개</li>
                </ul>
            </div>
            <br>
           <div class="hospital-info">
                <div class="info-title">의료 장비 소개</div>
                <div class="info-subtitle vdevice">철저한 감염관리와 반려동물 환자의 안락한 치료를 위해 설계되었으며,
                    최첨단 장비와 시설에 과감한 투자를 통해 최고의 치료 환경을 제공합니다.</div>
                <div class="vdevice-info-box">
                    <div class="vdevice-info-btn">
                        <ul class="vdevice-select">
                            <!-- click하면 ajax로 해당 장비들 아래에 표시. class속성에 vde-active 추가(아닌경우 제거)-->
                            <li class="vdevice-subject vde-active" name="deviceli" value="5">영상장비</li>
                            <li class="vdevice-subject" name="deviceli" value="4">정형외과</li>
                            <li class="vdevice-subject" name="deviceli" value="1">내과</li>
                            <li class="vdevice-subject" name="deviceli" value="2">외과</li>
                            <li class="vdevice-subject" name="deviceli" value="3">안과</li>
                        </ul>
                    </div>
                    <div class="vdevice-list">
                        <!-- 장비 내용 1행씩 -->
                        <div class="vdevice-tb-row" th:each="device: ${deviceList}">
                            <div class="vdevice-img">
                                <img th:src="@{${device.mdeviceFile.dfilePath}}+${device.mdeviceFile.dchangeName}">
                            </div>
                            <div class="vdevice-info">
                                <div class="vdevice-name">
                                    <h3 class="vd-name" >[[${device.deviceName}]]
                                        <span class="vd-model" th:text="${device.deviceModel}"></span>
                                    </h3>
                                </div>
                                <div class="vdevice-content" th:text="${device.deviceContent}">
                                </div>
                            </div>
                        </div>                     
                    </div>
                </div>
           </div>
        </div>
        <!-- 빠른 메뉴 부분 -->
        <div id="aside">
            <div class="quick-menu">
                <ul>
                    <li>
                        <a th:href="@{/qaBoard/list}">
                            <img src="/images/common/inquiry.png">
                            <p>문의하기</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about/device}">
                            <img src="/images/common/medical device.png">
                            <p>의료 장비</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about/location}">
                            <img src="/images/common/way to come.png">
                            <p>오시는 길</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="move-to-top">
                <a href="#"><img src="/images/common/arrow.png"></a>
            </div>
        </div>
    </div>
 
 	<script>
 		$(function(){
 			$('li[name=deviceli]').on('click', function(){
 				let category = $(this).val();   // 장비카테고리번호
				// class속성 교체
				$('li[name=deviceli]').each(function(){
					$(this).removeClass('vde-active');
				});
				$(this).addClass('vde-active');
				
				$.ajax({
					url : "/about/device/" + category,
					type : "get",
					dataType : "json",
					success : function(data){
						console.log(data);
						
						
						let html = '';
						
						for(let i in data){
							html += "<div class='vdevice-tb-row'><div class='vdevice-img'><img src='" + data[i].mdeviceFile.dfilePath + data[i].mdeviceFile.dchangeName 
							     + "'></div><div class='vdevice-info'><div class='vdevice-name'><h3 class='vd-name'>"
							     + data[i].deviceName + "<span class='vd-model'>" + data[i].deviceModel
							     + "</span></h3></div><div class='vdevice-content'>" + data[i].deviceContent
							     + "</div></div></div>"
						}
						$('.vdevice-list').html(html);
						
					},
					error : function(e){
						console.log(e);
					}
				});
 			});
 		});
 	</script>
 	
 <div th:replace="fragments/footer.html"></div>
</html>