<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- 폰트  -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" href="/css/common.css">
    <!-- 나현 css (메인)-->
    <link type="text/css" rel="stylesheet" href="/css/nh.css">
    <!-- 자바스크립트 -->
    <script type="text/javascript" src="/js/common.js"></script> 
    <script type="text/javascript" src="/js/nh.js"></script>

    <title>의료진 소개</title>
</head>	
 <div th:replace="fragments/header.html"></div>
 
    <!-- 내용 부분 -->
    <div id="main">
        <!-- 사이드 메뉴 -->
        <div id="side-menu"> 
            <div class="sidenav">
                <ul>
                    <li><a th:href="@{/about/hospital}">병원 소개</a></li>
                    <li class="li-active"><a th:href="@{/about/team}">의료진 소개</a></li>
                    <li><a th:href="@{/about/device}">의료 장비 소개</a></li>
                    <li><a th:href="@{/about/location}">오시는 길</a></li>
                </ul>      
            </div>
        </div>
        <!-- 내용 표시 부분 -->
        <div id="content">
            <!-- 현재 페이지 경로 표시 -->
            <div class="path-info">
                <ul>
                    <li>HOME</li>
                    <li>병원 소개</li>
                    <li>의료진 소개</li>
                </ul>
            </div>
            <br>
           <div class="hospital-info">
                <div class="info-title">의료진 소개</div>
                <div class="info-subtitle">다나은 동물병원의 최고의 전문 의료진을 소개합니다.</div>
                <div class="veterinary-info-box" th:each="v : ${vList}">
                	<div class="vinfo-img">
                    	<img src="/images/nh/medical_team.png">                	
                	</div>
                    <div class="vinfo-content">
                        <span class="vinfo-name" th:text="${v.vname}"></span>
                        <th:block th:switch="${v.tno}">
                        	<span class="vinfo-subject" th:case="1">내과</span>
                            <span class="vinfo-subject" th:case="2">외과</span>
                            <span class="vinfo-subject" th:case="3">안과</span>         
                            <span class="vinfo-subject" th:case="4">정형외과</span>       	
	                    </th:block>
                        <div class="vinfo-wrap">
                            <h4>약력 및 기본정보</h4>
                            <textarea class="vcontent tarea" name="txtarea" th:text="${v.profile}" disabled>
                            </textarea>
                        </div>
                        <div class="vinfo-wrap">
                            <h4>경력사항</h4>
                            <textarea class="vcontent tarea" name="txtarea" th:text="${v.career}" disabled>
                            </textarea>
                        </div>
                    </div>
               	</div>
           </div>
        </div>
        <!-- 빠른 메뉴 부분 -->
        <div id="aside">
            <div class="quick-menu">
                <ul>
                    <li>
                        <a th:href="@{/qaBoard/list}">
                            <img src="/images/common/inquiry.png">
                            <p>문의하기</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about/device}">
                            <img src="/images/common/medical device.png">
                            <p>의료 장비</p>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/about/location}">
                            <img src="/images/common/way to come.png">
                            <p>오시는 길</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="move-to-top">
                <a href="#"><img src="/images/common/arrow.png"></a>
            </div>
        </div>
    </div>

 <div th:replace="fragments/footer.html"></div>
</html>