@charset "UTF-8";

.wrapper{
            width: 1200px;
            height: 1080px;
            margin: auto;
            display: flex; 
            align-items: flex-start;      
            justify-content: flex-start;
        }
        .logo{
            width: 100%;
            margin-left: 0px;
            margin-top: 0px;
        }
        .item{
            align-self: flex-start;
            display: inline-block;
        }
        .info{
            margin: auto;
        }
        .infoForm{
            border: 1px solid gainsboro;
            width: 800px;   
            margin-left: 10px;    
        }

        .label{
            min-width: 160px;
            display:inline-block;
            margin-top: 25px;
            margin-left: 30px;
            font-weight: bold;
        }

        .all{
            height: 23px;
            border: 1px solid gainsboro;
            border-radius: 5px;
            padding-left: 5px;
            padding-right: 5px;

        }

        .input{
            display:inline-block;
            width: 180px;
        }

        .select{
            display:inline-block;
            width: 150px;
        }

        .input2{
            display:inline-block;
            width: 450px;
        }

        .button1{
            margin-left: 20px;
            width: 100px;
            height: 33px;
        }

        .button2{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            margin-bottom: 10px;
            width: 180px;
            text-align: center;
            height: 40px;
        }

        input:focus,
        select:focus {
	    outline: none;
        }
        .button1:hover {
	    cursor: pointer;
        }
        .button2:hover {
	    cursor: pointer;
        }

        .etc{
            color: rgb(167, 164, 164);
            font-weight: bolder;
            margin-left: 20px;
            font-size: small;
        }

        .invalid{
		    color: red;
        }
